 <md-dialog aria-label="signup"  >
  <form  class="frmBx" name="signup" novalidate  ng-init="user.agree=false" >

     <md-dialog-content>
     <md-button class="md-icon-button closeIcon" ng-click="cancel()">
          <md-icon  aria-label="Close">close</md-icon>
        </md-button>
       <h2 class="LoginHd">Member Signup Form {{isSignupSuccess}}</h2>

       
      <div class="md-dialog-content" >
 
        <div class="alert {{alert.type}}" ng-if="alert">
              <p>
                <md-icon ng-if="alert.type=='alert-danger'">error_outline</md-icon>
                 {{alert.message}}
               </p>
        </div>

     <div class="loginFrmTop" ng-if="!isSignupSuccess">
            
  <md-input-container class="md-block">
    <label>I am a</label>
    <md-select ng-model="user.gender" name="gender" placeholder="I am a" required>
        <md-option value="Male">Male</md-option>
        <md-option value="Female">Female</md-option>
        <md-option value="Gay">Gay</md-option>
        <md-option value="Other">Both</md-option>
    </md-select>
   
  </md-input-container>


<md-input-container class="md-block margin-top25">
            <label>Email</label>
            <input  name="email" 
                    required 
                    type="text"
                    ng-model="user.email" 
                    ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([A-Za-z0-9\-])+\.)+([a-zA-Z]{2,3})+$/">
            <div ng-messages="signup.email.$error">
            <div ng-message="required">Email is required.</div>
            <div ng-message="pattern">Enter valid email address</div>
            </div>
</md-input-container>

<md-input-container class="md-block">
            <label>Password</label>
            <input  
                    name="password" 
                    required 
                    type="password"
                    ng-model="user.password" 
            >
           
            <div ng-messages="signup.password.$error">
            <div ng-message="required">Password is required.</div>
            </div>
      </md-input-container>
            
            <md-input-container class="md-block">
              <label>Confirm Password</label>
              <input  
                      name="confirmpassword" 
                      required 
                      type="password"
                      ng-model="user.confirmpassword" 
              >
             
              <div ng-messages="signup.confirmpassword.$error">
                <div ng-message="required">Confirm Password is required.</div>
              </div>

            </md-input-container>

                <div class="rembBx">
                <md-input-container class="md-block">
                <md-checkbox  aria-label="Checkbox 1" name="agree" ng-model="user.agree" >
                I agree to </md-checkbox>
                <a ng-href="{{navabar.term.url}}">
                Terms of Services</a> &amp; 
                <a ng-href="{{navabar.privacy.url}}">Privacy Policy</a>
                <div class="clearfix"></div>

             
              </md-input-container>
                 </div>
                <md-button type="submit"  aria-label="signup"
                ng-click="signupForm(signup,user)" 
                class="md-raised md-primary logpopup-Btn">
                Sign Up
                </md-button>

           </div>

           <div class="ordevider">
              <span>OR</span>
           </div>
           <a class="facebookBtn fbCont"><i>
           <img src="images/fb-icon.png" alt="facebook"></i> Login with Facebook</a>
           <a class="linkedBtn fbCont"><i><img src="images/linkedin-icon.png" alt="linkedin"></i> Login with Linkedin</a>
           <a class="twitterBtn fbCont"><i><img src="images/twitter-icon.png" alt="twitter"></i> Login with Twitter</a>
           <div class="notregCont">Not a Zenbrisa member? <a>Get Started</a></div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
