<div class="profileNav">
          <ul>
            <li><a class="active"><i class="material-icons">person</i>My Profile</a></li>
            <li><a><i class="material-icons">camera_alt</i>Public photo Gallery</a></li>
            <li><a><i class="material-icons">photo</i>Private Photo Gallery</a></li>
            <li><a><i class="material-icons">videocam</i>Video Gallery</a></li>
            <li><a><i class="material-icons">insert_drive_file</i>Reviews Received</a></li>
            <li><a><i class="material-icons">person</i>Reviews Penned <span><img src="images/quesmark-icon.png"></span></a></li>
            <li><a><i class="material-icons">star</i>My Favorites</a></li>
            <li><a><i class="material-icons">do_not_disturb</i> My Blocked List</a></li>
            <li><a class="greenClr"><i class="material-icons">sms</i>Massage Messenger<sup>&trade;</sup></a></li>
          </ul>
        </div>
