
<section class="aboutBg" style="background:url(./images/about-banner.jpg) center top no-repeat; background-size:cover;">
  <div class="aboutTrans">
    <div class="aboutBanTxt">
      <span>About <strong> Zenbrisa</strong></span>
    </div>
  </div>
</section>
<section class="welcomeBx">
  <div class="container">
    <div class="welcontent">
      <h1 class="welhd">About US</h1>
      <p>Zenbrisa is a global membership network devoted to the world of massage. Whether you are looking for a massage partner to exchange a massage for free or looking for a reasonably priced paid massage, you will be able to find it all at Zenbrisa.com. We are dedicated to building the most comprehensive global massage network. It's all about massage! </p>
    </div>
  </div>
</section>

<section class="aboutBotBg">
    <div class="container">
      <div class="aboutBotHd">
        <strong>MASSAGE THERAPY IS A HEALING ART </strong>
        <span>Massage therapy has proved to be very effective in treating all of the following medical issues:</span>
      </div>
      <div class="aboutList">
        <ul>
          <li>Improves blood circulation and also helps to reduce high blood pressure</li>
          <li>Speedy healing of sports injuries </li>
          <li>Reduces muscle tension and pain </li>
          <li>Alleviates back and neck pain or any other chronic body pain </li>
          <li>Improves mental well being with release of endorphins</li>
          <li>Relief for headaches / migraines </li>
          <li>Promotes physical and mental relaxation </li>
          <li>Increases energy </li>
          <li>Reduces stress and anxiety </li>
          <li>Helps with insomnia and enhances quality of sleep </li>
          <li>Boosts immunity</li>
          <li>Improves concentration and mental alertness </li>
          <li>Helps arthritis and joint pain </li>
          <li>Alleviates medication dependence </li>
          <li>Help joint mobility and flexibility </li>
        </ul>
      </div>
    </div>
</section>
