<section class="listingBanner">
  <div class="listingtrans">
    <div class="listingFrm">
      <div class="container clearfix">
          <div class="bannersrchBx clearfix">
              <div class="locationBx">
                <i class="material-icons">location_on</i>
                <div class="searchwithin">Search within 
                  <span><input type="text" places-auto-complete name="name" placeholder="Newyork" class="countryInp" ng-model="searchData.address" types="['geocode']" on-place-changed="placeChanged()"></span>
                </div>
              </div>
              <div class="msglistBx">
                <md-select ng-model="searchData.service" placeholder="Massage Enthusiast" class="md-no-underline selectmrgn">
                  <md-option value="therapists">Massage Therapists</md-option>
                  <md-option value="enthusiast">Massage Enthusiast</md-option>
                </md-select>
              </div>
              <div class="srchfrmBx">
                <md-button class="md-raised md-primary"><img src="images/search-icon.png" alt=""></md-button>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>

<section class="midcontainerBg" ng-init="zn_SearchedResults()">
  <div class="container">
    <div class="row"> 
      <div class="col-sm-3">
        <div class="left-Section">
          <div class="updateHd">Update Search</div>
          <div class="seekingHd">Seeking</div>
          <div class="seekingList">
            <ul>
              <li>
                <md-checkbox  aria-label="Checkbox 1" value="2" ng-click="c()">Free Massage Exchange</md-checkbox>
              </li>
              <li>
                <md-checkbox  aria-label="Checkbox 1">Paid Professional Massage</md-checkbox>
              </li>
              <li>
                <md-checkbox  aria-label="Checkbox 1">Both</md-checkbox>
              </li>
            </ul>
          </div>

          <div class="seekingHd">Massage Style</div>
          <div class="seekingList">
            <ul>
              <li>
                <md-checkbox  aria-label="Checkbox 1">Therapeutic</md-checkbox>
              </li>
              <li>
                <md-checkbox  aria-label="Checkbox 1">Sensual</md-checkbox>
              </li>
              <li>
                <md-checkbox  aria-label="Checkbox 1">Both</md-checkbox>
              </li>
            </ul>
          </div>

          <div class="seekingHd">Level of Experience </div>
          <div class="seekingList">
            <ul>
              <li>
                <md-checkbox  aria-label="Checkbox 1">Professional</md-checkbox>
              </li>
              <li>
                <md-checkbox  aria-label="Checkbox 1">Student</md-checkbox>
              </li>
              <li>
                <md-checkbox  aria-label="Checkbox 1">Aficionado</md-checkbox>
              </li>
              <li>
                <md-checkbox  aria-label="Checkbox 1">Amateur</md-checkbox>
              </li>
            </ul>
          </div>

          <div class="seekingHd">Gender</div>
          <div class="seekingList">
            <ul>
              <li>
                <md-checkbox  aria-label="Checkbox 1">Male</md-checkbox>
              </li>
              <li>
                <md-checkbox  aria-label="Checkbox 1">Female</md-checkbox>
              </li>
              <li>
                <md-checkbox  aria-label="Checkbox 1">Both</md-checkbox>
              </li>
            </ul>
          </div>

          <div class="seekingHd">Age Range</div>
          <div class="rengesliderBx">
            <article>
            <div class="rangevalue clearfix">
              <input type="text" ng-model="minRangeSlider.minValue" class="value-L appraence" />
              <input type="text" ng-model="minRangeSlider.maxValue" class="value-R appraence" />
            </div>
            <rzslider 
            rz-slider-model="minRangeSlider.minValue" 
            rz-slider-high="minRangeSlider.maxValue" 
            rz-slider-options="minRangeSlider.options">
            </rzslider>

        </article>
         </div>

          <div class="seekingHd">Body Type</div>
          <div class="seekingList">
            <ul>
              <li>
                <md-checkbox  aria-label="Checkbox 1">Slim or Petite</md-checkbox>
              </li>
              <li>
                <md-checkbox  aria-label="Checkbox 1">Average</md-checkbox>
              </li>
              <li>
                <md-checkbox  aria-label="Checkbox 1">Gym Fit</md-checkbox>
              </li>
              <li>
                <md-checkbox  aria-label="Checkbox 1">Muscular</md-checkbox>
              </li>
              <li>
                <md-checkbox  aria-label="Checkbox 1">Few Pounds over Average</md-checkbox>
              </li>
              <li>
                <md-checkbox  aria-label="Checkbox 1">Large</md-checkbox>
              </li>
              <li>
                <md-checkbox  aria-label="Checkbox 1">All</md-checkbox>
              </li>
            </ul>
          </div>
          <div class="updatebtnBx">
            <md-button class="md-raised md-primary viewBtn white">Update Search</md-button>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="listingHd">1-20 of 7224 Free Massage Exchange & Paid Professional Massage</div>
        <div class="listing" ng-if="znUsers.length > 0">

          <ul>
            <!-- <li>
              <div class="listingTop lightvolateBg">
                <div class="profpaidBx">
                  <a class="vollatBg">Paid Professional Massage</a>
                  <a class="yellowBg">Updated Member</a>
                </div>
                <div class="listingTop-Left">
                  <div class="listingImgBx">
                    <div class="listingImg"><img src="images/listing-img.png"></div>
                    <strong>Sara Joshep</strong>
                    <span><small class="material-icons pinkClr personIcon">person</small>26 &nbsp; |&nbsp; <small class="material-icons personIcon">room</small> Noida, Uttar Pradesh, India  I  0.2 Miles Away</span>
                    <span><a>Favorite</a> | <a>Block</a>  |  <a>Write a Review</a>  |  <a class="greyClr">Review Penned</a>   | <a>Reviews Received (2)</a></span>
                    <span><span>Therapeutic</span> : &nbsp; Seeks - <small class="blueClr">M</small> <i class="toltip">?<span>Male</span></i></span>
                    <span><span>Sensual</span>    : &nbsp; Seeks - <small class="pinkClr">F</small> <i class="toltip">?<span>Female</span></i></span>
                  </div>
                  <div class="listingPara">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standar mmy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing.</div>
                  <div class="listingTop-Right">
                    <span>Active: 2 Days Ago</span>
                    <i><img src="images/massageTag.png"></i>
                  </div>
                </div>
              </div>
              <div class="listingBot clearfix">
                <div class="listingBot-L">
                    <a><i class="material-icons">camera_alt</i> Public Photos <span class="blueClr">(1)</span></a> 
                    <a><i class="material-icons">collections</i> Private Photos</a> 
                    <a>Request Photo Key </a>
                    <span class="toltip2">?<i>Photo Key</i></span>
                </div>
                <div class="listingBot-R">
                  <md-button class="md-raised md-primary viewBtn white">View Conversation</md-button>
                  <md-button class="md-raised md-primary viewBtn white"  ng-click="camposemail($event)">Email</md-button>
                </div>
              </div>
            </li>
            <li>
              <div class="listingTop whiteBg">
                <div class="profpaidBx">
                  <a class="orangeBg">NEW Member</a>
                </div>
                <div class="listingTop-Left">
                  <div class="listingImgBx">
                    <div class="listingImg"><img src="images/listing-img2.png"></div>
                    <strong>Alex Ryan</strong>
                    <span><small class="material-icons pinkClr personIcon">person</small>26 &nbsp; |&nbsp; <small class="material-icons personIcon">room</small> Noida, Uttar Pradesh, India  I  0.2 Miles Away</span>
                    <span><a>Favorite</a> | <a>Block</a>  |  <a>Write a Review</a>  |  <a class="greyClr">Review Penned</a>   | <a>Reviews Received (2)</a></span>
                    <span><span>Therapeutic</span> : &nbsp; Seeks - <small class="blueClr">M</small> <i class="toltip">?<span>Male</span></i></span>
                    <span><span>Sensual</span>    : &nbsp; Seeks - <small class="pinkClr">F</small> <i class="toltip">?<span>Female</span></i></span>
                  </div>
                  <div class="listingPara">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standar mmy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing.</div>
                  <div class="listingTop-Right">
                    <span>Active: 2 Days Ago</span>
                  </div>
                </div>
              </div>
              <div class="listingBot clearfix">
                <div class="listingBot-L">
                    <a><i class="material-icons">camera_alt</i> Public Photos <span class="blueClr">(1)</span></a> 
                    <a><i class="material-icons">collections</i> Private Photos</a> 
                    <a>Request Photo Key </a>
                    <span class="toltip2">?<i>Photo Key</i></span>
                </div>
                <div class="listingBot-R">
                  <md-button class="md-raised md-primary viewBtn white">View Conversation</md-button>
                  <md-button class="md-raised md-primary viewBtn white" ng-click="camposemail($event)">Email</md-button>
                </div>
              </div>
            </li>
            <li>
              <div class="listingTop whiteBg">
                <div class="profpaidBx">
                  <a class="yellowBg">Updated Member</a>
                </div>
                <div class="listingTop-Left">
                  <div class="listingImgBx">
                    <div class="listingImg"><img src="images/listing-img3.png"></div>
                    <strong>Lara Larsen</strong>
                    <span><small class="material-icons pinkClr personIcon">person</small>26 &nbsp; |&nbsp; <small class="material-icons personIcon">room</small> Noida, Uttar Pradesh, India  I  0.2 Miles Away</span>
                    <span><a>Favorite</a> | <a>Block</a>  |  <a>Write a Review</a>  |  <a class="greyClr">Review Penned</a>   | <a>Reviews Received (2)</a></span>
                    <span><span>Therapeutic</span> : &nbsp; Seeks - <small class="blueClr">M</small> <i class="toltip">?<span>Male</span></i></span>
                    <span><span>Sensual</span>    : &nbsp; Seeks - <small class="pinkClr">F</small> <i class="toltip">?<span>Female</span></i></span>
                  </div>
                  <div class="listingPara">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standar mmy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing.</div>
                  <div class="listingTop-Right">
                    <span>Active: 2 Days Ago</span>
                  </div>
                </div>
              </div>
              <div class="listingBot clearfix">
                <div class="listingBot-L">
                    <a><i class="material-icons">camera_alt</i> Public Photos <span class="blueClr">(1)</span></a> 
                    <a><i class="material-icons">collections</i> Private Photos</a> 
                    <a>Request Photo Key </a>
                    <span class="toltip2">?<i>Photo Key</i></span>
                </div>
                <div class="listingBot-R">
                  <md-button class="md-raised md-primary viewBtn white greyBg">View Conversation</md-button>
                  <md-button class="md-raised md-primary viewBtn white"  ng-click="camposemail($event)">Email</md-button>
                </div>
              </div>
            </li> -->
             <li class="greenBdr" ng-repeat="user in znUsers track by $index">
             <pre ng-hide="true" ng-if="$index==0">{{user | json}}</pre>
              <div class="listingTop lightvolateBg">
                <div class="profpaidBx">
                  <a class="vollatBg">Paid Professional Massage</a>
                  <a class="greenBg">Online</a>
                  <a class="yellowBg">Updated Member</a>
                </div>
                <div class="listingTop-Left">
                  <div class="listingImgBx">
                    <div class="listingImg"><img ng-src="images/listing-img.png"></div>
                    <strong><span>{{user.fullName != undefined ? user.fullName : user.username}}</span></strong>
                    <span><small class="material-icons pinkClr personIcon">person</small>{{user.ageOne}} &nbsp; |&nbsp; <small class="material-icons personIcon">room</small> {{user.city+", "}} {{user.state+", "}} {{user.country}}  I  0.2 Miles Away</span>
                    <span><a>Favorite</a> | <a>Block</a>  |  <a>Write a Review</a>  |  <a class="greyClr">Review Penned</a>   | <a>Reviews Received ({{user.reviewReceivedCount}})</a></span>
                    
                    <span ng-show="user.prefer_therapeuticMassage != undefined && user.prefer_therapeuticMassage != null && user.prefer_therapeuticMassage != ''"><span>Therapeutic</span> : &nbsp; Seeks - 
                    <small ng-hide="user.seeking_female != null && user.seeking_female != ''" ng-class="user.seeking_male != null && user.seeking_male != '' ? 'blueClr' : '' ">M</small>
                    <small ng-hide="user.seeking_male != null && user.seeking_male != ''" ng-class="user.seeking_female != null && user.seeking_female != '' ? 'pinkClr' : '' ">F</small>
                    
                    <small ng-show="user.seeking_both != null && user.seeking_both != ''" class="">B</small>

                     <i class="toltip">?<span ng-show="user.seeking_both != null && user.seeking_both != ''">Both</span></i></span>
                    
                    <span ng-show="user.prefer_sensualMassage != undefined && user.prefer_sensualMassage != null && user.prefer_sensualMassage != ''"><span>Sensual</span>    : &nbsp; Seeks - 

                    <small class="pinkClr">F</small> <i class="toltip">?<span>Female</span></i></span>

                  </div>
                  <div class="listingPara" ng-bind="user.aboutme"></div>
                  <div class="listingTop-Right">
                    <span>Active: 2 Days Ago</span>
                  </div>
                </div>
              </div>
              <div class="listingBot clearfix">
                <div class="listingBot-L">
                    <a><i class="material-icons">camera_alt</i> Public Photos <span class="blueClr" >({{user.publicPhotoCount}})</span></a> 
                    <a><i class="material-icons">collections</i> Private Photos <span class="blueClr" >({{user.privatePhotoCount}})</span></a> 
                    <a>Request Photo Key </a>
                    <span class="toltip2">?<i>Photo Key</i></span>
                </div>
                <div class="listingBot-R">
                  <md-button class="md-raised md-primary viewBtn white">View Conversation</md-button>
                  <md-button class="md-raised md-primary viewBtn white" ng-click="camposemail($event)">Email</md-button>
                </div>
              </div>
            </li>
            <!--<li>
              <div class="listingTop whiteBg">
                <div class="profpaidBx">
                  <a class="yellowBg">Updated Member</a>
                </div>
                <div class="listingTop-Left">
                  <div class="listingImgBx">
                    <div class="listingImg"><img src="images/listing-img.png"></div>
                    <strong>Sara Joshep</strong>
                    <span><small class="material-icons pinkClr personIcon">person</small>26 &nbsp; |&nbsp; <small class="material-icons personIcon">room</small> Noida, Uttar Pradesh, India  I  0.2 Miles Away</span>
                    <span><a>Favorite</a> | <a>Block</a>  |  <a>Write a Review</a>  |  <a class="greyClr">Review Penned</a>   | <a>Reviews Received (2)</a></span>
                    <span><span>Therapeutic</span> : &nbsp; Seeks - <small class="blueClr">M</small> <i class="toltip">?<span>Male</span></i></span>
                    <span><span>Sensual</span>    : &nbsp; Seeks - <small class="pinkClr">F</small> <i class="toltip">?<span>Female</span></i></span>
                  </div>
                  <div class="listingPara">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standar mmy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing.</div>
                  <div class="listingTop-Right">
                    <span>Active: 2 Days Ago</span>
                  </div>
                </div>
              </div>
              <div class="listingBot clearfix">
                <div class="listingBot-L">
                    <a><i class="material-icons">camera_alt</i> Public Photos <span class="blueClr">(1)</span></a> 
                    <a><i class="material-icons">collections</i> Private Photos</a> 
                    <a>Request Photo Key </a>
                    <span class="toltip2">?<i>Photo Key</i></span>
                </div>
                <div class="listingBot-R">
                  <md-button class="md-raised md-primary viewBtn white greyBg">View Conversation</md-button>
                  <md-button class="md-raised md-primary viewBtn white"  ng-click="camposemail($event)">Email</md-button>
                </div>
              </div>
            </li> -->
          </ul>
        </div>
        <div ng-if="znUsers.length < 1" class='alert alert-info'>No Match Found in your Search Criteria.</div>
      </div>
    </div>
  </div>
</section>