<section class="referBg" ng-init="blogs()">
  <div class="container">
    <div class="pollsHd">Blog <span><a ng-click="goTo('blog/post-a-blog')">Post a Blog</a></span></div>

    <div class="pollBx" style="margin-bottom:10px;">
    
    <!--blog list-->
      <div class="blogList">

       <div class="loading" ng-show="loading">
               <md-progress-circular class="md-primary" md-diameter="30"></md-progress-circular>
               <span>Loading..</span>
            </div>

        <ul ng-if="data.length > 0">
          <li dir-paginate="x in data | itemsPerPage: 3">
            <i ng-if="x.featuredImage"   style="background-image:url('{{x.featuredImage}}')"></i>
 <i ng-if="!x.featuredImage"  style="background-image:url('/images/no_image.jpg')"></i>
            <strong><a ng-click="goToBlog(x.id,x.title)">{{x.title}}</a></strong>
            <p> <span ng-bind-html="x.shortDesc"></span> <a ng-click="goToBlog(x.id,x.title)">Read More</a></p>
          </li>
          
        </ul>

        <div class="alert alert-info mw100" ng-if="data.length == 0">
            No Blogs Found
        </div>
      </div>
    </div>
    <div class="pagerBx" ng-if="data.length > 0">
    <dir-pagination-controls></dir-pagination-controls>
      <!-- <div class="pager">
        <ul>
          <li><a href="">Prev</a></li>
          <li><a href="">1</a></li>
          <li><a href="" class="active">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li>
          <li><a href="">5</a></li>
          <li><a href="" class="active">Next</a></li>
        <ul>
      </div>
    </div> -->

  </div>
</section>
