<section class="referBg">
	<div class="container">
		<div class="pollsHd">Post Blog <span><a href="#/blogs">Back</a></span></div>
		<form ng-submit="addUserBlog()" class="form-horizontal" role="form" name="newBlogAdd" novalidate>
			<div class="postBlogBx">
				<div class="row">
					<div class="col-sm-6">
						<div class="uploadImg">
							<md-input-container class="md-block">
							<input type="text" name="name" ng-model="myFilename" placeholder="Image Upload" class="loginInp" readonly="" 
							aria-invalid="false" style="">
							</md-input-container>
							<button type="button" name="button" class="fileButton">Browse</button>
							<input id="file-3" type="file" ng-model="myFile" name="myFile" onchange="angular.element(this).scope().pickImage(this,'blog')" accept="image/jpeg,image/png" class="InpFile">

						</div>
					</div>
					<div class="col-sm-6">
						<md-input-container class="md-block">
							<input type="text" name="name" ng-model="newTitle" placeholder="Enter Title" ng-required="true">
							<div class="errors" ng-messages="newBlogAdd.newTitle.$error" ng-required="true">
							  <div ng-message="required">Title is required</div>
							</div>
						</md-input-container>
					</div>
					<!-- <div class="col-sm-4 blogImgurl">
						<div class="uploadImg">
							<input type="text" name="name" ng-model="user.name" placeholder="Blog Image URL" class="loginInp ng-pristine ng-valid ng-empty ng-touched" aria-invalid="false" style="">
							<button type="button" name="button" class="fileButton">Browse</button>
							<input type="file" name="file" file-model="newFeaturedImage" class="InpFile">
						</div>
						<span>*To add an image in between your blog content, copy &amp; paste this url.</span>
					</div> -->
				</div>
				<div class="row padtop">
					<div class="col-sm-12">
						<!-- <textarea name="textarea" ng-model="shortDescription" placeholder="Short Description" class="textareaInp ng-valid ng-touched ng-not-empty ng-dirty ng-valid-parse" aria-invalid="false" style=""></textarea> -->
						<md-input-container class="md-block">
						 <textarea 
						     name="shortDescription"
						     ng-model="shortDescription" placeholder="Short Description" 
						      rows="5" md-select-on-focus ng-required="true">
						  </textarea>
							<div class="errors" ng-messages="newBlogAdd.shortDescription.$error">
							  <div ng-message="required">Short Description is required</div>
							</div>
						 </md-input-container>
					</div>
				</div>
				<div class="row padtop">
					<div class="col-sm-12">
						<!-- <div class="textaditer"><img src="images/textediter.png" alt=""></div> -->
						<!-- <textarea name="textarea" ng-model="newDescription" placeholder="Long Description" class="textareaInp ng-valid ng-touched ng-not-empty ng-dirty ng-valid-parse" aria-invalid="false" style=""></textarea> -->
						<!-- <md-input-container class="md-block">
						 <textarea 
						     name="newDescription"
						     ng-model="newDescription" placeholder="Long Description" 
						      rows="5" md-select-on-focus ng-required="true">
						  </textarea>
							<div class="errors" ng-messages="newBlogAdd.newDescription.$error">
							  <div ng-message="required">Long Description is required</div>
							</div>
						 </md-input-container> -->
						 <md-input-container class="md-block">
						 <!-- <label>Long Description</label> -->
						 <text-angular ng-model="newDescription"></text-angular>
						 </md-input-container>

					</div>
				</div>
				<md-button class="md-raised md-primary logpopup-Btn md-button md-ink-ripple" type="submit" ng-transclude="" style="margin-left:0 !important;"><span class="ng-scope">Submit Blog</span></md-button>
			</div>
		</form>
	</div>
</section>