<footer>
  <div class="footerTop">
    <div class="container">
      <div class="row">
        <div ng-class="{'col-sm-9': isUserLogin,'col-sm-7':!isUserLogin }">
          <div class="foot-aboutHd">About Zenbrisa</div>
          <div class="foot-Cont">
            <p>
              Zenbrisa is a global membership network devoted to the world of massage. Whether you are looking for a massage partner to exchange a massage for free or looking for a reasonably priced paid massage, you will be able to find it all at Zenbrisa.com. We are dedicated to building the most comprehensive global massage network. It's all about massage!
            </p>

            <i>
            <a href="https://www.facebook.com/Zenbrisa-1026643404089803/?fref=ts" target="_blank"   class="Facebook transition">Facebook</a>
            <a href="https://twitter.com/zenbrisa" target="_blank"  class="Twitter transition">Twitter</a>
            <!-- <a href="" target="_blank"  class="Linkedin transition">Linkedin</a> -->
            <a href="https://www.instagram.com/zenbrisa/" target="_blank" class="Instagram transition">Instagram</a>
            <a href="https://in.pinterest.com/zenbrisa/" target="_blank"  class="Pintrest transition">Pintrest</a>
            </i>
          </div>
        </div>
        <div class="col-sm-3" ng-hide="isUserLogin">
          <div class="footLinkhd">Services</div>
          <div class="foot-List">
            <ul>
              <li><a ng-href="{{navabar.FreeMassageExchange.url}}">Free Massage Exchange</a></li>
              <li><a ng-href="{{navabar.PaidProfessionalMassage.url}}">Paid Professional Massage</a></li>
              <li><a ng-href="{{navabar.TherapeuticMassage.url}}">Therapeutic Massage</a></li>
              <li><a ng-href="{{navabar.SensualMassage.url}}">Sensual Massage</a></li>
              <li><a ng-href="{{navabar.GayMassage.url}}">Gay Massage</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="footLinkhd">Quick Links</div>
          <div class="foot-List">
            <ul>
              <!-- <li><a>Choose Country</a></li> -->
              <!-- <li><a>Advertise With Us</a></li> -->
              <li><a ng-href="{{navabar.blog.url}}">Blog</a></li>
              <li><a ng-href="{{navabar.aboutUs.url}}">About Us</a></li>
              <li><a ng-href="{{navabar.advertise.url}}">Advertise with us</a></li>
              <li><a ng-href="{{navabar.contactus.url}}">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-BotBg">
      <div class="container">
        &copy; 2000-2016 Zenbrisa.com, Inc. All Rights Reserved.
        <a ng-href="{{navabar.term.url}}">Terms of Use</a> -
        <a ng-href="{{navabar.privacy.url}}">Privacy Statement</a> -
        <a ng-href="{{navabar.faqs.url}}">FAQ</a>
      </div>
  </div>
</footer>
<md-button class="md-fab md-mini scroll-top" aria-label="scrollTop" scroll-offset="body" scroll="true">
           <md-icon >expand_less</md-icon>
       </md-button>
