    <header>  <div class="container">
        <div class="row">
          <div class="col-sm-2 col-xs-4"><div class="logoBx">
          <a ng-href="{{navabar.home.url}}"><img src="images/logo.png" alt=""></a>
          </div></div>
          <div class="col-sm-10 col-xs-8 text-right">
            <img src="images/header_style_logo.png" alt="info" class="logo-info" ng-if="!isUserLogin">
          <!--navbar if user not login-->
              <nav class="navbar" role="navigation" ng-if="!isUserLogin">
                <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
                  <ul class="nav navbar-nav">
                    <li><a  ng-href="{{navabar.home.url}}">Home</a></li>
                    <li><a  ng-href="{{navabar.aboutUs.url}}">About Us</a></li>
                    <li><a  ng-href="{{navabar.faqs.url}}">Faq</a></li>
                  </ul>
                </div>
              </nav>

              <!--navbar if login-->
               <nav class="navbar" role="navigation" ng-if="isUserLogin">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
                  <ul class="nav navbar-nav">
                    
                    <li ng-repeat="menu in userNavbar">
               
                      <md-button 
                              ng-if="!menu.submenu" 
                              ng-href="{{menu.href}}" aria-label="menu" > 
                              {{menu.title}}
                    </md-button>
                      <!--if menu has sub cchils--> 
                    <md-menu md-offset="0 45" ng-if="menu.submenu">

                      <md-button 
                        aria-label="menu" 
                        ng-href="{{menu.href}}"
                        ng-click="$mdOpenMenu($event)">
                        
                        {{menu.title}}
                         <md-icon>arrow_drop_down</md-icon>
                      </md-button>

                      <md-menu-content width="3">
                      <ul >
                      <li role="menuitem" ng-repeat="x in menu.submenu">
                        <md-button ng-href="{{x.href}}" aria-label="menu"  ng-hide="x.hide"
                          ng-click="menuOpen(x.click)"
                        > {{x.title}}</md-button>
                      
                      </li> </ul>
                      </md-menu>
                    </li>
                </ul>
                </div>
              </nav>

         
         <!--user dropdown menu-->
          <div class="userBx">

            <md-menu class="notification" md-offset="0 45" ng-if="isUserLogin" md-position-mode="target-right target">
              <md-button aria-label="Open menu" ng-click="$mdOpenMenu($event)" class="md-icon-button">
               <md-icon>notifications_none</md-icon>
               <small>3</small>
              </md-button>
              
              <md-menu-content width="3">
                <md-list class="notification">
                  <md-list-item class="secondary-button-padding" ng-click="openNotification()"> 
                        <p class="elipssis">Zenbrisa is a global membership network devoted to the world of massage.</p>
                       <md-button class="md-icon-button md-secondary" > <md-icon>chevron_right</md-icon>
                      
                       </md-button>
                  </md-list-item>
                  <md-divider></md-divider>

                   <md-list-item class="secondary-button-padding" ng-click="openNotification()"> 
                        <p class="elipssis">Zenbrisa is a global membership network devoted to the world of massage.</p>
                       <md-button class="md-icon-button md-secondary" > <md-icon>chevron_right</md-icon>
                       
                       </md-button>
                  </md-list-item>
                  <md-divider></md-divider>

                   <md-list-item class="secondary-button-padding" ng-click="openNotification()"> 
                        <p class="elipssis">Zenbrisa is a global membership network devoted to the world of massage.</p>
                       <md-button class="md-icon-button md-secondary" > <md-icon>chevron_right</md-icon>
                       
                       </md-button>
                  </md-list-item>
                  <md-divider></md-divider>

                </md-list>
              </md-menu-content>
            </md-menu>
                 


            <md-menu md-offset="0 45" ng-if="isUserLogin" md-position-mode="target-right target" >
              <md-button aria-label="Open menu" ng-click="$mdOpenMenu($event)" class="usermenu">
             
                  <md-icon> account_circle</md-icon>
                    <!-- <img src="images/user-img.jpg" alt=""> -->
               
                  <span class="elipssis"> 
                    {{userprofile.fullName || 'Welcome.'}}</span>
                <md-icon>arrow_drop_down</md-icon>
              </md-button>
              <md-menu-content width="2">
                <ul class="userList">
                      <li role="menuitem">
                      <a ng-href="{{userNavbar.profile.submenu.myprofile.href}}">
                      <md-icon>assignment_ind</md-icon>My Profile</a></li>
                      <li role="menuitem">
                      <a ng-href="{{userDashboard.setting.href}}">
                        <md-icon>settings</md-icon> Settings</a>
                      </li>
                      <li role="menuitem" >
                      <a  href="#/logout" ng-click="$mdMenu.open($event);"> <md-icon>exit_to_app</md-icon>Logout</a></li>
                    </ul>
              </md-menu-content>
            </md-menu>
                
         </div>

        <div class="loginBtnBx" ng-if="!isUserLogin">
          <a class="loginBtn transition" ng-click="login($event)">Login</a>
          <a class="signupBtn transition active" ng-click="signup($event)"> Sign up</a>
         
        </div>

          </div>
        </div>
      </div>
 <md-button  class="md-icon-button nav-btn" ng-click="openNav()">
            <md-icon>menu</md-icon></md-button>
<!--mobile navbar-->
<md-sidenav
    class="md-sidenav-right md-whiteframe-4dp"
     md-swipe-right="openNav()"
    md-component-id="navbar">
      <md-toolbar md-scroll-shrink layout="row"    layout-align="space-between center">
      <div class="md-toolbar-tools" >Menu </div>
      <md-button class="md-icon-button pull-right" ng-click="openNav()"><md-icon>close</md-icon></md-button>
      </md-toolbar>
     
      <md-content  ng-if="isUserLogin">
        <ul class="nav navbar-nav">
                    
                    <li ng-repeat="menu in userNavbar">
               
                      <md-button 
                              ng-if="!menu.submenu" 
                              ng-href="{{menu.href}}" aria-label="menu" > 
                              {{menu.title}}
                    </md-button>
                      <!--if menu has sub cchils--> 
                    <md-menu md-offset="0 45" ng-if="menu.submenu">

                      <md-button 
                        aria-label="menu" 
                        ng-href="{{menu.href}}"
                        ng-click="$mdOpenMenu($event)">
                        
                        {{menu.title}}
                         <md-icon>arrow_drop_down</md-icon>
                      </md-button>

                      <md-menu-content width="3">
                      <ul >
                      <li role="menuitem" ng-repeat="x in menu.submenu">
                        <md-button ng-href="{{x.href}}" aria-label="menu"  ng-hide="x.hide"
                          ng-click="menuOpen(x.click)"
                        > {{x.title}}</md-button>
                      
                      </li> </ul>
                      </md-menu>
                    </li>
                </ul>
      </md-content>
     <md-content  ng-if="!isUserLogin">


        <md-list>
             <md-list-item ng-repeat="item in navabar" ng-href="{{item.url}}">
               <md-icon >{{item.icon}}</md-icon>
               <p>
               {{item.title}}</p>
              <md-divider></md-divider>
             </md-list-item>

        </md-list>
     </md-content>
   </md-sidenav>
