<section class="howitBg">
  <div class="container">
    <div class="howitCont">
      <h2 class="welhd white">How it works</h2>
      <div class="howitTitle">Discover how Zenbrisa can you help you find everything you want</div>
      <div class="howitDir clearfix">
        <div class="row">
            <div class="col-sm-4">
              <div class="howitDir-Bx">
                <i><img src="images/how-itsearch.png"></i>
                <span>Search therapist</span>
                <p>Lorem Ipsum Dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="howitDir-Bx">
                <i><img src="images/how-itnote.png"></i>
                <span>List therapist</span>
                <p>Lorem Ipsum Dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="howitDir-Bx">
                <i><img src="images/take-massage.png"></i>
                <span>Take Massage</span>
                <p>Lorem Ipsum Dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="dirarrow1"><img src="images/arrow-dir-top.png"></div>
            <div class="dirarrow2"><img src="images/arrow-dir-bot.png"></div>
          </div>
        </div>
    </div>
  </div>
</section>
