<md-dialog aria-label="login" >
  <form  class="frmBx" name="login" novalidate>

     <md-dialog-content>
     <md-button class="md-icon-button closeIcon" ng-click="cancel()">
          <md-icon  aria-label="Close">close</md-icon>
        </md-button>
      <h2 class="LoginHd">Already A Member ?</h2>
      <div class="md-dialog-content">
           <div class="loginFrmTop">

            <md-input-container class="md-block">
            <label>Email</label>
            <input  name="email" 
                    required 
                    ng-model="user.email" 
                    ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([A-Za-z0-9\-])+\.)+([a-zA-Z]{2,3})+$/" 
                    >
            <!--error template-->

            <div ng-messages="login.email.$error">

            <div ng-message="required">Email is required.</div>
            <div ng-message="pattern">Enter valid email address</div>
            </div>
            </md-input-container>

            <md-input-container class="md-block">
            <label>Password</label>
            <input  name="password" 
                    required 
                    ng-model="user.password" 
                    >
            <!--error template-->
         
            <div ng-messages="login.password.$error">
            <div ng-message="required">Password is required.</div>
            </div>
            </md-input-container>


              <div class="rembBx">
              <md-checkbox  aria-label="remember" ng-model="user.remember">Remember Me    </md-checkbox>

                <i><a>Forget Password ?</a></i>
              </div>
              <md-button type="submit" class="md-raised md-primary logpopup-Btn">Login</md-button>
           </div>
           <div class="ordevider">
              <span>OR</span>
           </div>
           <a class="facebookBtn fbCont"><i><img src="images/fb-icon.png" alt="facebook"></i> Login with Facebook</a>
           <a class="linkedBtn fbCont"><i><img src="images/linkedin-icon.png" alt="linkedin"></i> Login with Linkedin</a>
           <a class="twitterBtn fbCont"><i><img src="images/twitter-icon.png" alt="twitter"></i> Login with Twitter</a>
           <div class="notregCont">Not a Zenbrisa member? <a>Get Started</a></div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
