 <md-dialog aria-label="signup"  >
  <form  class="frmBx" name="signup" novalidate  ng-init="user.agree=false;user.aliasOption='true'" >

     <md-dialog-content>
     <md-button class="md-icon-button closeIcon" ng-click="cancel()">
          <md-icon  aria-label="Close">close</md-icon>
        </md-button>
       <h2 class="LoginHd">Member Signup Form {{isSignupSuccess}}</h2>
       
      <div class="md-dialog-content" >
 
        <div class="alert {{alert.type}}" ng-if="alert">
              <p>
                <md-icon ng-if="alert.type=='alert-danger'">error_outline</md-icon>
                 <span ng-bind-html="alert.message"> </span>
               </p>
        </div>

  <div class="loginFrmTop" ng-if="!isSignupSuccess">
      <md-input-container class="md-block margin-top25 loaderText">
        <md-progress-circular  ng-if="checking"
                   md-mode="indeterminate" 
                   
                   md-diameter="15px">
                   </md-progress-circular>
            <label>User Name </label>
            <input  name="username" 
                    required 
                    type="text"
                    minlength="6"
                    md-maxlength="10"
                    ng-keyup="checkUsrname(user.username,signup)"
                    ng-model="user.username" 
                   >
          <div ng-messages="signup.username.$error">
          <div ng-message="required">Username is required.</div>
          <div ng-message="minlength">Enter username between 6 to 10 chnarcter.</div>
          <div ng-message="md-maxlength">Enter username between 6 to 10 chnarcter.</div>
          <div ng-message="maxlength">Enter username between 6 to 10 chnarcter.</div>

         <!--  <div ng-message="username">
           {{user.username}} is already taken, 
              please choose a different name
          </div> -->
         
            
      </div>
        <div class="clearfix"></div>
  </md-input-container>
  <md-input-container class="md-block">
    <label>Gender </label>
    <md-select ng-model="user.gender" name="gender" placeholder="Gender" required class="md-no-underline">
        <md-option value="male">Male</md-option>
        <md-option value="female">Female</md-option>
    
    </md-select>
     <div ng-messages="signup.gender.$error">
          <div ng-message="required">Gender is required.</div>
      </div>

  </md-input-container>



<md-input-container class="md-block margin-top25">
            <label>Email</label>
            <input  name="email" 
                    required 
                    type="text"
                    ng-model="user.email" 
                    ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([A-Za-z0-9\-])+\.)+([a-zA-Z]{2,3})+$/">
            <div ng-messages="signup.email.$error">
            <div ng-message="required">Email is required.</div>
            <div ng-message="pattern">Enter valid email address</div>
            </div>
</md-input-container>
<div class="row">
  <div class="col-sm-6">
<md-input-container class="md-block">
            <label>Password</label>
            <input  
                    name="password" 
                    required 
                    type="password"
                    ng-model="user.password" 
            >
           
            <div ng-messages="signup.password.$error">
            <div ng-message="required">Password is required.</div>
            </div>
      </md-input-container>
        </div>
      <div class="col-sm-6">        
            <md-input-container class="md-block">
              <label>Confirm Password</label>
              <input  
                      name="confirmpassword" 
                      required 
                      type="password"
                      ng-model="user.confirmpassword" 
              >
              <div ng-messages="signup.confirmpassword.$error">
                <div ng-message="required">Confirm Password is required.</div>
              </div>

            </md-input-container>
          </div>
</div>  
                <div class="rembBx">
                <md-input-container class="md-block">
                <md-checkbox  aria-label="Checkbox 1" name="agree" ng-model="user.agree" >
                I agree to </md-checkbox>

                <a href="#/term-of-use" target="_blank">
                Terms of Use</a> &amp; 
                <a href="#/privacy"  target="_blank">Privacy Policy</a>

                <div class="clearfix"></div>

             
              </md-input-container>
                 </div>
                <md-button type="submit"  aria-label="signup"
                ng-click="signupForm(signup,user)" 
                class="md-raised md-primary logpopup-Btn">
                Sign Up
                </md-button>

           </div>

           <div class="ordevider">
              <span>OR</span>
           </div>
           <a class="facebookBtn fbCont"><i>
           <img src="images/fb-icon.png" alt="facebook"></i> Login with Facebook</a>
           <a class="linkedBtn fbCont"><i><img src="images/linkedin-icon.png" alt="linkedin"></i> Login with Linkedin</a>
           <a class="twitterBtn fbCont"><i><img src="images/twitter-icon.png" alt="twitter"></i> Login with Twitter</a>
           <div class="notregCont">Not a Zenbrisa member? <a>Get Started</a></div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
