<section class="testimonial-bg">
  <div class="container">
    <div class="testimonialCont">
      <h1 class="welhd">Testimonials</h1>
      <div class="testimo-Slider">
        <div class="loading"  ng-style="{'display':isLoad?'none':'block'}">
          <md-progress-circular  md-diameter="50"></md-progress-circular>
            Loading..
        </div>
        <div class="testimonialSlider" owl-carosuel  loading="isLoad"  ng-style="{'visibility':isLoad?'visible':'hidden'}">

        <div class="slideBx">
          <p>
            "After signing up at Zenbrisa, my massage business is really starting to take off! As a recent massage school graduate, I was a bit worried going out into the working world but thanks to Zenbrisa, I have developed many new clients. Zenbrisa is the best site for all professionals trying to grow their business. Thanks again!"
          </p>
          <span><strong><i>Nick M</i></strong></span>
        </div>

        <div class="slideBx">
    <p>
        "Zenbrisa is the best massage network out there!  I have tried other massage sites, but Zenbrisa is on a whole other level. I am impressed how Zenbrisa has put everything about massage in one website. It makes it easy for me as a massage lover to find a great massage exchange for FREE or find an excellent massage therapist at a reasonable price wherever I am at in the world. Job well done, Zenbrisa!"
    </p>
          <span><strong><i>Johannes V</i></strong></span>
        </div>

        <div class="slideBx ">
          <p >
            "I had the privilege of finding the best Massage Therapist at  Zenbrisa.com. She is truly amazing and her soft hands brings me into ecstasy! Such a Zenexperience :)"
          </p>
          <span><strong><i>Ahmed Abdullah</i></strong></span>
        </div>

        <div class="slideBx">
          <p >
            "I really did not know what to expect when I signed up for a website to swap massages with someone else. I was apprehensive about meeting someone online. But Zenbrisa.com is so easy to use and helped me to connect with other massage enthusiasts to trade a massage so that I don’t have to spend a fortune for a massage any more. I have also ended up meeting some really nice friends on this site. Thanks, Zenbrisa for making all this possible!!"
          </p>
        <span><strong><i>Petre</i></strong></span>
        </div>

        <div class="slideBx">
          <p>
          "I feel much more comfortable finding a massage exchange or a paid massage at Zenbrisa.com than on other websites. The people I've met have all been very nice and respectful and I have felt very safe. I strongly recommend Zenbrisa.com if you want to find a great massage and meet some nice new people."
          </p>
        <span><strong><i>John Cene</i></strong></span>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
