<div class="profileNav" ng-cloak>
<md-list>
          <md-list-item  ng-if="!isUserProfile"
        
          ng-href="{{userNavbar.profile.submenu.myprofile.href}}"> 
                <md-icon  aria-label="icon" >person</md-icon>
                <p>My Profile </p>
           </md-list-item>

            <md-list-item  ng-if="isUserProfile"  ng-href="{{userNavbar.profile.submenu.myprofile.href}}/{{isUserId}}"> 
                <md-icon  aria-label="icon" >person</md-icon>
                <p>Profile Information </p>
           </md-list-item>

            <md-divider></md-divider>
            <md-list-item  class="active" 
              ng-href="{{userDashboard.photoGallery.href}}/public/{{isUserId}}"> 
                <md-icon  aria-label="icon" >camera_alt</md-icon>
                <p>Public Photo Gallery
                <span ng-if="userInfoCount.publicPhotoCount" 
                      class="badge pull-right">
                      {{userInfoCount.publicPhotoCount || 0}}
                </span>
                </p>
           </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-if="isUserLogin" class="active" 
            ng-href="{{userDashboard.photoGallery.href}}/private/{{isUserId}}"> 
                <md-icon  aria-label="icon" >photo</md-icon>
                <p>Private Photo Gallery 
                   <span ng-if="userInfoCount.privatePhotoCount" 
                      class="badge pull-right">
                      {{userInfoCount.privatePhotoCount || 0}}
                </span>
                </p>
            <md-divider ></md-divider>
           </md-list-item>

            <!--send a photo key-->
            <md-list-item  class="active" 
              ng-if="isUserLogin  &&  isUserId" 
              ng-click="sendPhotoKeySearch($event,isUserId)"> 
                <md-icon  aria-label="icon" >vpn_key</md-icon>
                <p>Request Photo Key  </p>
                  <md-divider></md-divider>
           </md-list-item>

           <!--send a photo key-->
            <md-list-item  class="active" 
              ng-if="isUserLogin  &&  isUserId" 
              ng-click="RequestPhotoKeySearch(isUserId);"> 
                <md-icon  aria-label="icon" >picture_in_picture</md-icon>
                <p ng-if="process==false">Request Profile Photo </p>
                <p ng-if="process==true">Processing.. </p>
                  <md-divider></md-divider>
           </md-list-item>
          
            <md-list-item  class="active" 
            ng-href="{{userDashboard.myvedio.href}}/{{isUserId}}"> 
                <md-icon  aria-label="icon" >videocam</md-icon>
                <p>Video Gallery 
                  <span ng-if="userInfoCount.videoCount" 
                      class="badge pull-right">
                      {{userInfoCount.videoCount || 0}}
                </span>
                </p>
             <md-divider></md-divider>
           </md-list-item>
     
            <md-list-item  class="active" 
            ng-href="{{userDashboard.reviewsreceived.href}}/{{isUserId}}"> 
                <md-icon  aria-label="icon" >insert_drive_file</md-icon>
                <p>Reviews Received 
                <span ng-if="userInfoCount.reviewReceived" 
                      class="badge pull-right">
                      {{userInfoCount.reviewReceived || 0}}
                </span>
                </p>
            <md-divider></md-divider>
           </md-list-item>
    
            <md-list-item  class="active" 
            ng-href="{{userDashboard.reviewspenned.href}}/{{isUserId}}"> 
                <md-icon  aria-label="icon" >speaker_notes</md-icon>
                <p>Reviews Penned 
                   <span ng-if="userInfoCount.reviewPenned" 
                      class="badge pull-right">
                      {{userInfoCount.reviewPenned  || 0}}
                </span>
                </p>
             <md-divider></md-divider> 
           </md-list-item>
         
            <!--write a review-->
      

          <md-list-item   ng-if="isUserLogin &&  isUserId"
            ng-href="{{userDashboard.writeReviews.href}}/{{isUserId}}"> 
                <md-icon  aria-label="icon" >person</md-icon>
                <p>Write A Review </p>
            <md-divider ></md-divider> 
           </md-list-item>
        

   <!--user favourites-->
            <md-list-item  class="active" ng-if="!isUserId" 
            ng-href="{{userDashboard.favorites.href}}/{{isUserId}}"> 
                <md-icon  aria-label="icon" >star</md-icon>
                <p>My Favorites 
                    <span ng-if="userInfoCount.favouriteCount" 
                      class="badge pull-right">
                      {{userInfoCount.favouriteCount  || 0}}
                </span>
                </p>
                   <md-divider></md-divider>
           </md-list-item>

        <!--if other profile is loaded add to fav-->
           <md-list-item  class="active" ng-if="isUserLogin && !favYes && isUserId" 
              ng-click="AddFav(isUserId)"> 
                <md-icon  aria-label="icon" >star</md-icon>
                <p>Add to Favorites  </p>
                   <md-divider></md-divider>
           </md-list-item>

            <!--if other profile is loaded add to fav-->
           <md-list-item  class="active" ng-if="isUserLogin && favYes &&  isUserId" 
              ng-click="removeFav(isUserId)"> 
                <md-icon  aria-label="icon" >star</md-icon>
                <p>Remove to Favorites  </p>
                  <md-divider></md-divider>
           </md-list-item>
         

           <!--blocked user- blockYes-->
          
            <md-list-item  class="active"  ng-if="!isUserId"
            ng-href="{{userDashboard.blockedUsers.href}}/{{isUserId}}"> 
                <md-icon  aria-label="icon" >do_not_disturb</md-icon>
                <p>My Blocked List 
                   <span ng-if="userInfoCount.blockedCount" 
                      class="badge pull-right">
                      {{userInfoCount.blockedCount || 0}}
                </span>
                </p>
                   <md-divider></md-divider>
           </md-list-item>

             <md-list-item  class="active"  ng-if="isUserLogin && blockYes"
            ng-click="removeBlockuser(isUserId)"> 
                <md-icon  aria-label="icon" >do_not_disturb</md-icon>
                <p>Unblocked  </p>
                   <md-divider></md-divider>
           </md-list-item>

            <md-list-item  class="active"  ng-if="isUserId && !blockYes && isUserLogin"
            ng-click="AddBlockUser(isUserId)"> 
                <md-icon  aria-label="icon" >do_not_disturb</md-icon>
                <p>Block
                 
                </p>
                   <md-divider></md-divider>
           </md-list-item>

       

            <md-list-item  class="active" ng-click='null'> 
                <md-icon  aria-label="icon" >sms</md-icon>
                <p>Massage Messenger<sup>&trade;</sup></p>
                   <md-divider></md-divider>
           </md-list-item>

            <!---Report reportAbuse -->
            <md-list-item  class="active" 
              ng-if="isUserLogin  &&  isUserId" 
              ng-click="reportAbuse($event,userprofile, isUserId);"> 
                <md-icon  aria-label="icon" >dvr</md-icon>
                <p >Report Abuse </p>
              
                  <md-divider></md-divider>
           </md-list-item>


</md-list>
</div>
