<html lang="en" ng-app="zenbrisa">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="/lib/angular-material/angular-material.min.css">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon' />
    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/angular.progressbar/loading-bar.min.css">
    <link rel="stylesheet" href="/lib/rzslider/rzslider.css">
    <link rel="stylesheet" href="/lib/angularLightbox/ame-lightbox.css">

    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/custom.new.css">
    <link href="/lib/owl.carousel/owl.carousel.css" rel="stylesheet" type="text/css">
  <!--meta tags-->
    <title>Global Massage Therapy Network, Leading Free Massage Trading Site | Zenbrisa</title>
    <meta name="description" content="Zenbrisa, a leading global massage network for free massage trading. A world- wide massage membership site for people who want to search and promote wellness &amp; massage therapy." />
    <meta name="keywords" content="global massage network, leading massage network, global massage therapy network, free massage trading">

</head>

<body class="body">

      <div ng-include="template.header"></div>
      <!--angular view-->
      <ng-view></ng-view>

      <div ng-include="template.footer"></div>

    <!--jquery and extranal plugin-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="lib/owl.carousel/owl.carousel.min.js"></script>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/angular/angular-animate.min.js"></script>
    <script src="/lib/angular/angular-aria.min.js"></script>
    <script src="/lib/angular/angular-messages.min.js"></script>
    <script src="/lib/angular/angular-sanitize.min.js"></script>
    <script src="/lib/angular/angular-local-storage.min.js"></script>
    <script src="/lib/angular.progressbar/loading-bar.min.js"></script>
    <!-- Angular Material Library -->
    <script src="/lib/angular-material/angular-material.min.js"></script>
    <script src="/lib/bootstrap-ui-tpl/ui-bootstrap-tpls-2.2.0.min.js"></script>
    <script src="/lib/angular-route/angular-route.min.js"></script>
    <!-- Third Party Angular Material Paging -->
    <script src="/lib/angular-paging/dist.min.js"></script>

    <!--custom lib-->
    <script src="/lib/rzslider/rzslider.js"></script>
    <script src="/lib/angularLightbox/ame-lightbox.js"></script>
    <script src="/lib/angular.file.upload/fileupload.min.js"></script>
    <!--app configurations-->
    <script src="/app/service.js"></script>
    <script src="/app/directives.js"></script>
    <script src="/app/config.js"></script>
    <script src="/app/route.js"></script>
    <script src="/app/app.js"></script>


    <!-- Third Party Google Extsn -->
    <script src="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places&key=AIzaSyBxIHRMPScwSmlsgfHRC5kFYm4kAHrDZYE"></script>
     <script src="/lib/ngmaps/ng-map.js"></script>

    <!--controllers-->
    <script src="app/publicController.js"></script>
    <script src="partials/home/homeCtrl.js"></script>
    <script src="partials/dashboard/dashboard.js"></script>
    <script src="partials/dashboard/dashboard-search.js"></script>
    <script src="partials/dashboard/photogallery.js"></script>
    <script src="partials/dashboard/locations/userLocations.js"></script>
    <script src="partials/dashboard/userpoll.js"></script>



</body>

</html>
