
<section class="bannerBg">
  <img src="./images/therapeutic-banner.jpg" alt="Therapeutic Massage">
  <div class="bannertrans">
    <div class="massageexchange">
    <span>ENJOY THE <strong>HEALING</strong></span>
      <small>POWER OF MASSAGE</small>

    </div>
    <div class="bannerBot">
          <div class="container clearfix" ng-include="template.search"></div>
    </div>
  </div>
</section>

<section class="welcomeBx">
  <div class="container">
    <div class="welcontent">

      <h2 class="welhd"> ABOUT THERAPEUTIC MASSAGE</h2>
      <p>
      Welcome to Zenbrisa - a global network where you can exchange therapeutic massages for free and can find reasonably priced paid professional massages at &#36;/&#8364;/&#163; 49.99 or less. With our network, a few clicks will connect you to thousands of members worldwide also looking to trade a massage for FREE and/or help you find a value priced professional paid massage. So if you need an excellent therapeutic massage, while traveling or at home, join our network today for <b>free!</b>  <a href="#" ng-click="signup();" class="btn btn-lg btn-info btn-info1" role="button">signup</a>

      </p>

      <div class="list margin-top">
      <h2 class="welhd"> Join Zenbrisa today!</h2>
      <p> <md-icon>check</md-icon>
          A global massage network to find <b>FREE</b> massage exchange and/or value priced paid massage.  while you're at home or traveling. </p>
      <p> <md-icon>check</md-icon> All paid massages are at  &#36;/&#8364;/&#163; 49.99 or less</p>
      <p> <md-icon>check</md-icon> <b>Free</b> <a href="#" ng-click="signup();" class="btn btn-lg btn-info btn-info1" role="button">signup</a></p>
      <p> <md-icon>check</md-icon> Upload pictures to public or private galleries</p>
      <p> <md-icon>check</md-icon> Review system for all members</p>
      <p> <md-icon>check</md-icon> Massage Messenger&trade; to chat with other online members</p>
      <p> <md-icon>check</md-icon> Massage Now!&trade; feature lets you know who's immediately available for massage exchange or a paid massage.</p>
      </div>
    </div>
  </div>
</section>

<!--user testimonial-->
<testimonial ng-include="template.testimonial"></testimonial>
