<section class="mylocatBg" >
  <div class="container">
    <div class="mylocationHd">Settings</div>
    <div class="SettingMainBx">

      <div class="SettingCont">
        <p>Add <a href="mailto:oreply@zenbrisa.com">noreply@zenbrisa.com</a> to your address book / contact list to improve deliverability</p>

        <span>Preferences</span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standar mmy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      {{user}}
      <div class="SettingList">
        <div class="settingBx clearfix">
          <div class="settBx-L">Hide My Profile 
            <i class="settTool">?
              <md-tooltip md-direction="top">If you don’t want members to see your profile, you can put Hide Profile in ON position. You will be able to choose the members that can view your profile by  initiating contact with those members. We encourage all members to leave Hide Profile in OFF position to help you connect more easily with other members.</md-tooltip>
            </i>
          </div>
          <div class="settBx-R">
            <md-switch ng-model="user.searchProfileStatus" 
              class="mar0" aria-label="Switch 1" 
              ng-true-value="'enable'" ng-false-value="'disable'">OFF
            </md-switch>
          </div>
        </div>

        <div class="settingBx clearfix">
          <div class="settBx-L">Show Sensual Ad </div>
          <div class="settBx-R">
            <md-switch ng-model="user.sensualAds" 
                        class="mar0" aria-label="Switch 1" 
                       ng-true-value="'enable'" ng-false-value="'disable'">OFF
            </md-switch>
          </div>
        </div>

        <div class="settingBx clearfix">
          <div class="settBx-L">Incognito Mode
            <i class="settTool">?
              <md-tooltip md-direction="top">
                We encourage all members to leave INCOGNITO in OFF position as this will help you to connect more easily with other members. By switching INCOGNITO to ON position, other members will not know that you have visited their profile nor will they know that you have listed them as one of your FAVORITES.
              </md-tooltip>
            </i>
          </div>
          <div class="settBx-R">
            <md-switch 
                    ng-model="user.provisitMailStatus" 
                    class="mar0" 
                    aria-label="Switch 1" 
                    ng-true-value="'enable'" ng-false-value="'disable'">OFF
          </md-switch>
          </div>
        </div>
        <div class="settingBx clearfix">
          <div class="settBx-L">New Mail Notification</div>
          <div class="settBx-R">
            <md-switch 
                  ng-model="user.newMailStatus" 
                  class="mar0" aria-label="Switch 1" 
                  ng-true-value="'enable'" ng-false-value="'disable'">OFF
            </md-switch>
          </div>
        </div>
        <div class="settingBx clearfix">
          <div class="settBx-L">Poll Mail Notification</div>
          <div class="settBx-R">
            <md-switch ng-model="user.pollMailStatus" ng-false-value="'disable'"  class="mar0" aria-label="Switch 1" ng-true-value="'enable'">OFF</md-switch>
          </div>
        </div>



      </div>

    </div>

    <div class="SettingMainBx">
      <div class="SettingCont">
        <span>Change Password</span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standar mmy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="changepassBx">
        <input type="text" name="name" ng-model="user.email" placeholder="Current Password" class="loginInp">
        <input type="text" name="name" ng-model="user.email" placeholder="New Password" class="loginInp">
        <input type="text" name="name" ng-model="user.email" placeholder="Confirm Password" class="loginInp">
        <md-button class="md-raised md-primary logpopup-Btn" style="margin-left:0 !important;">Submit</md-button>
      </div>
    </div>

    <div class="SettingMainBx">
      <div class="SettingCont">
        <span>Delete Your Account</span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standar mmy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="changepassBx">
        <input type="text" name="name" ng-model="user.email" placeholder="Password" class="loginInp">
        <md-button class="md-raised md-primary logpopup-Btn" style="margin-left:0 !important;">Delete</md-button>
      </div>
    </div>

  </div>
</section>
