<div class="mainCont">
<!--user profile header-->
<section ng-include="template.userProfileHeader"></section>

<section class="profilepage-Bot">
  <div class="container">
    <div class="row clearfix">
      
    <!--userside navabar-->
      <div class="col-sm-3">
        <div class="profHd clearfix">Profile <span><img src="/images/profile-arrow.png"></span></div>
        
        <span ng-include="template.usersideNavbar"> Loading..</span>
        </div>
      <!--end user sidenavbar-->

      <div class="col-sm-9">
          
          <!--review list data-->
        <div class="row blockList">
          <div class="publicHd">My Favorites ({{data.length}})</div>
            <div class="loading" ng-show="loading">
               <md-progress-circular class="md-primary" md-diameter="30"></md-progress-circular>
               <span>Loading..</span>
            </div>

            <div>
                  <div class="noData" ng-show="data.length==0"> <md-icon >star</md-icon>  You haven't added any favorites yet!</div>
                <div class="col-sm-3 col-xs-6" ng-repeat="x in data track by $index">
                  <div class="blocklistBx">
                    <a>
                      <i class="image-view" style="background-image:url('{{x.profilePic?x.profilePic: 'images/default-user-icon-profile.png';}}')">
                        <md-icon class="star">star</md-icon>
                      </i>
                        <span>{{x.fullName || x.username}}<small>{{x.country}}</small></span>
                      </a>
                        <md-button ng-click="setUnfavorite(x.id, $index,data)" class="md-block btn blueBg">Unfavorite</md-button>
                    </div>
                </div>
           </div>
         

       </div> <!--end row-->
      </div> <!--end coloumn-->

    </div>
  </div>
</section>

</div>	 
