@media(max-width:1320px){
.navbar-nav a.md-button{ margin: 6px 1px !important;}
/*.container{ width: 100%;}*/

}

@media(max-width:1099px){
.profpaidBx a{ font-size: 12px; line-height: 18px; padding:2px 12px }
.listingBot-L a{ font-size: 13px;}
.viewBtn {font-size: 12px; min-height: 0; padding: 3px 15px !important; line-height: 25px;}
.listingBot-L{ padding: 5px 0 3px 0; }
.advertiseHd {font-size: 36px; line-height: 50px; padding: 130px 0;}
.moreclintHd {font-size: 28px; padding-bottom:20px;}
.signuplisting ul li {font-size: 15px; padding-right: 50px; }
/*--------------28/11/2016---------------*/
.revDet {padding: 10px 10px 10px 15px;}
.revDet p{ line-height: 20px; padding-bottom: 10px;}
.revDet strong {font-size: 18px;}
.videotrans img{ width: 60px;}
.massageexchange > span {font-size: 32px; line-height: 50px;}
/*-------------Signout------------*/
.signoutBann { left: 10px; margin: 0 auto;  position: absolute; right: 10px; width: auto !important;}
.signoutInnTxt > p{ font-size: 15px;}
.sighout-BotBg .container {padding: 0 10px;}
}

@media(max-width: 1023px){
.massageexchange{ margin-top: -60px;}
.logo-info{ left: 0; position: relative; margin-right: 50px; width: 150px;}
.massageexchange > span{ font-size: 32px; line-height: 40px;}
.massageexchange small {font-size: 20px;}
.welcontent p{ padding: 0 0 20px;}
.howitDir-Bx {padding: 0 10px;}
.dirarrow2{ top: 65px;}
.slideBx{ padding: 10px;}
.foot-Cont{ padding-right: 15px;}
.foot-List a {line-height: 20px; padding: 5px 0;}
.listingHd{ font-size: 16px;}
.listingTop {padding: 26px 10px 10px 10px; position: relative;}
.listingImg{ width: 80px;}
.listingImgBx{ padding-left: 90px; font-size: 13px; min-height: 100px; height: auto;}
.listingTop-Right{ top: 5px;}
.listingImg > img{ width: 80px; height: 80px;}
.updateHd{ font-size: 16px;}
.advertiseHd{ font-size: 30px; padding: 100px 0;}
.moreclintHd{ font-size: 24px;}
.signuplisting ul li {font-size: 13px; padding-right: 20px;}
.moreclientsBg{ padding: 35px 0;}
.adverplanBx table tr td.basicPric {font-size: 30px;}
.adverplanBx table tr td.subsTxt{ padding: 25px 15px; font-size: 16px;}
.adverplanBx table tr td.basicHD{ font-size: 25px; padding: 25px 10px !important;}
.adverplanBx table tr td.GoldHd{ font-size: 25px;}
.adverplanBx table tr td{padding: 20px 10px; font-size: 15px;}
.adverplanBx table tr td.basicPric sup{ margin-top: 0;}

/*--------------25/11/2016---------------*/
.nav > li > a{ padding: 3px 11px 3px 0 !important; font-size: 12px; }
.nav > li:last-child a {padding: 3px 0 4px 4px !important;}
.userBx{ margin: 5px 0 0 0;}
nav{ margin: 10px 0 0 0 !important;}
.professMsg a{ font-size: 13px; padding:7px 10px;}
.container {width: 100% !important;}
.gallImgBx .addelIcon img{ width: 25px;}
.reviewList ul li {border: 1px solid #dedede; padding: 10px; text-align: center;}
.review-img {border: 1px solid #dedede; height: 156px; margin:0 auto; position: relative; width: 137px;}
.revDet strong{ line-height: 24px;}
.revDet strong small {display: block; float: none;}

/*------------------01/12/2016----------------*/
.blogList li i{ width: 180px;}
.blogList li{ padding: 0 0 25px 195px;}
.blogList li strong{ font-size: 16px;}
.blogList li p{ font-size: 14px;}
.pollsHd{ font-size: 24px;}
.aboutBanTxt > span{ font-size: 40px; line-height:normal;}
.aboutTrans{ padding: 100px 0;}
.aboutBotHd strong{ font-size: 24px;}
.aboutBotHd{ font-size: 15px;}
.videotrans img{ width: 50px;}

/*-------------21/12/2016------------------*/
.profInfoHd{ font-size: 16px;}
.profileInfoBx{ padding: 10px;}
.myProfList{ font-size: 13px;}
.myProfList li{ padding-right: 65px;}
.myProfList li > span{ width: 65px; margin-left: 3px;}
.typeLabel li > span{ width: 152px;}
.typeLabel{ font-size: 13px;}
.typeLabel li{ padding-right: 185px;}
.bodyWork{ padding:10px;}

/*------------------02/01/2017--------------*/
.topBtn ul li a{ padding: 15px 7px; font-size: 12px;}
.md-button{ margin: 0;}
.compose{ right: 5px;}
.leftChat{ width: 40%;}
.rightChat{ width: 58%;}

/*--------------30/01/2017-------------------*/
.profileTopBx{ padding-left: 200px !important;}
.navbar-nav > li a {padding: 0 8px !important; font-size: 14px; line-height: 20px; display: block; text-align:left;}
.navbar-nav > li:last-child a{ padding: 0 8px !important;}
/*------------------31/01/2017-----------------*/
.navbar-nav a.md-button{min-width: 0 !important; border-bottom: 0 !important; padding: 3px 0 !important; font-size: 12px; font-size: 12px; line-height: 21px;}
nav .navbar-collapse{ padding: 0 !important;}
.userBx {margin: 9px 0 0;}
nav.navbar{ margin-top: 15px !important;}
.navbar-nav a.md-button {margin: 0px !important; padding: 0 5px !important; height: auto;}
.navbar-nav a.md-button span{ vertical-align: top; line-height: 21px; display: inline-block;}
.navbar-nav a.md-button:hover{ background: none !important;}
.msgBg {min-height: 350px;}
.availablTxt > span{ margin-top: -26px !important;}
.blogList li i {height: 130px; left: 0; position: absolute; top: 0; width: 180px; background-size: 100% 100%;}
.referBg {padding: 30px 0;}
.profileNav .md-list-item-inner md-icon{ margin-right:5px !important; margin-left: -5px; }
.profileNav .md-button{ padding: 0 10px;}
.profileNav .md-list-item-inner p{ font-size: 13px;}
.prof-right-top strong{ font-size: 20px;}

/*-------------Signout------------*/
.signoutInnTxt{ padding: 20px;}
.logoutTopHd{ font-size: 18px; line-height: 25px;}
.logoutMidSec p {min-height: 200px;}
/*----------------07/02/2017----------------*/
nav .navbar-collapse {margin-right: 0; padding-right: 0;}
.loginBtnBx {margin: 9px 0 0;}
.nav > li > a:focus, .nav > li > a:hover{ background: none !important;}
.testimonial-bg .viewmore{ margin-left: auto !important; margin-right: auto !important;}
.navbar-nav {float: left; margin: 1px 0;}
.usermenu {margin-top: -6px;}
.notification button {top: 5px; position: relative;}
.topBtn ul li button {font-size: 13px !important; padding: 14px 10px !important; min-width: 0 !important;}
.usersCon .tabs md-list-item .md-list-item-text{ padding-top: 15px; padding-bottom: 15px;}
.gallMain {margin: 10px 0 15px;}
.gallImgBx{ width: 100%; height: 160px;}
.col-sm-9 .row.blockList{ margin-right: 0;}
.suggpollFrm md-input-container .btn-right{ right: 3px; top: 3px;}
}

@media(max-width: 767px){
nav {position: absolute !important; right: 10px; top: -10px;width: 45px; min-height: 0 !important;}
.loginBtnBx {margin: 0 35px; position: absolute; top: 5px; right: 20px;}
.logo-info{ margin-right: 160px;}
.navbar-toggle{ border: #000 solid 1px; margin: 0;}
.navbar-toggle .icon-bar{ background: #000;}
.navbar-collapse {background: #f5f5f5 none repeat scroll 0 0; border: 1px solid #eee; border-radius: 5px; display: block; position: absolute;
  right: 0; width: 200px; z-index: 99; height: auto !important;}
.navbar-collapse.in{ display: none;}
.nav > li:last-child a {padding: 7px 8px !important;}
.nav > li > a{ text-align: left;}
.logoBx img {height: 45px;}
header{ padding:5px 0;}
.massageexchange > span {font-size: 30px; line-height: 36px;}
.massageexchange{ margin-top: -50px;}
.locationBx{ height: 45px;}
.locationBx i{ top: 5px;}
.searchwithin{ padding-top: 3px;}
.selectmrgn{ margin: 7px 0 !important;}
.srchfrmBx button{ height: 44px;}
.welhd{ font-size: 26px; font-weight: 700;}
.welcomeBx{ padding: 30px 0;}
.welcontent p {font-size: 16px; line-height: 24px;}
.howitBg{ padding: 30px 0;}
.howitTitle{ font-size: 15px;}
.howitDir{padding: 15px 0 0px;}
.dirarrow1{ display: none;}
.dirarrow2{ display: none;}
.testimonial-bg{ padding: 30px 0;}
.howitDir-Bx {padding: 0 0 30px;}
.slideBx p {font-size: 15px; line-height: 22px;  padding-bottom:10px;}
.footLinkhd{ padding-top: 20px;}
.foot-List a{ padding:3px 0; }
.listingBot-L {display: block; padding: 5px 0 3px;}
.listingBot-R {display: block; float: none; padding-top: 5px;}
.listingTop-Right {position: relative; right: 0;text-align: center; top:0px;}
.listingTop-Left {padding-right: 0; position: relative; text-align: center;}
.listingImgBx { padding-left: 0;}
.listingImg {left: 0; margin: 5px auto; position: relative; top: 0;}
.profpaidBx {position: relative; right: 0px; text-align: center; top: 0px; margin-bottom: 10px;}
.listingTop{ padding:10px; }
.profpaidBx a{ padding:5px 15px; }
.listingTop-Right > i{ padding:10px 0; }
.listingBot{ text-align: center;}
.listingHd{font-size: 16px;padding-top: 20px; text-align: center;}
.adverplanBx table tr td.basicPric {font-size: 25px;}
.adverplanBx table tr td.basicHD {font-size: 23px; padding: 25px 10px !important;}
.advertiseHd {font-size: 24px; line-height: 40px; padding: 60px 0;}
.advertiseHd strong{ display: block;}
.moreclintHd {font-size: 20px; text-align: left;}
.signuplisting ul li {font-size: 14px; padding-right: 24px; width: 100%;}
/*-------------25/11/2016--------------*/
.userBx {margin: 0px 50px 0 0;}
.nav{ top: -6px;}
.nav > li > a {border-bottom: 1px solid #e5e5e5; font-size: 12px; padding: 5px 10px !important;}
.navbar-nav{ margin: 0px; padding: 0;}
.navbar-collapse{ padding: 0;}
.nav > li > ul { left: 0; margin-left: 0; position: relative; width: 100%;}
.nav > li > ul > li > a{ padding: 7px 10px;}
.referfrdHd{ font-size: 30px;} 
.referList li{ font-size: 16px;}
/*------------------28/11/2016---------------*/
.profile-Img {height:190px; left: 0; margin: 0 auto 20px auto; border: #ccc solid 1px; position: relative; top: 0; width: 220px;}
.profile-Img > img{ height: auto;}
.profileTopBx{ padding-left: 0 !important;}
.profileNav{ display: none;}
.profHd > span{ display: inline-block; padding-top: 5px; cursor: pointer;}
.publicHd{ margin-top: 20px;}
.gallImgBx{ margin-bottom: 15px;}
/*-----------------29/11/2016-------------*/
.noteTxt p { font-size: 16px;}
.srchtrans{ padding: 40px 0;}
/*------------01/12/2016------------*/
.pollrangeMain {display: block; width: 100%;}
.blogList li {padding: 0 0 15px; text-align: center; margin-bottom: 15px; border-bottom: #eee solid 1px;}
.blogList li:last-child{ border-bottom: 0; margin-bottom: 0;} 
.blogList li i {display: block; margin: 0 auto 10px; position: relative; width: 250px;}
.blogList li i img{width: 100%;}
.pagerBx {text-align: center;}
.pagerBx .pager {margin: 0 auto;}
.pollsHd{ padding-right: 0;}
.pollsHd > span {display: block; float: none; position: relative; top: 0; right: auto; left: 0;}
.aboutList li {background-position:left 11px; display: block; font-size: 15px; padding: 4px 20px; width: 100%;}
/*-------------12/12/2016---------------*/
.contFrm .sechInp{ margin-bottom: 10px;}
.padTop{ padding-top: 0;}
.contFrm{ padding-bottom: 20px;}
.contDetTxt {min-height: 0;}
.suggpollFrm {padding-right: 45px; width: 100%;}
.videoBx li{ width: 100%; margin-right: 0;}
.videoBx li > img{ width: 100%;}

/*-----------21/12/2016--------------*/
.myProfList {font-size: 14px;}
.profileInfoBx {height: auto; padding: 10px;}
.myProfList li {padding-right: 120px;}
.myProfList li > span { width: 120px;}
.profmapBx{ height: auto;}
.profmapBx img {height: auto;}

/*-----------26/12/2016------------*/
.mylocationHd{ font-size: 22px;}
.specifyHd > span{ font-size: 20px;}
.locatTabMain{ margin-bottom: 20px;}

/*---------02/01/2017---------*/
.settBx-L{ width: 35%;}
.settBx-R{ width: 65%;}
.leftChat{ width: 100%; float: none; margin-bottom: 20px;}
.rightChat{ width: 100%; float: none;}
.topBtn ul li a{ padding: 15px 10px; font-size: 13px; line-height: 14px;}
/*------------31/01/2017---------------*/
nav.navbar{ display: none;}
button.nav-btn {position: absolute; right: 5px;top: 7px;}
button.nav-btn .material-icons{ font-size: 24px;}

.massageexchange{ margin-top: -45px;}
.massageexchange > span {font-size: 24px; line-height: 30px;}
.massageexchange small {font-size: 20px;}
.md-button.md-default-theme.md-focused:not([disabled]), .md-button.md-focused:not([disabled]) {
  background-color: rgba(158, 158, 158, 0) !important;}
 .accordion-toggle span {font-size: 14px; font-weight: 600; line-height: 20px;}
 .bodyWork{ height: auto;}
/*--------------Signout-------------*/
.signout-Left {border: 1px solid #dee6e6; float: none; margin-bottom: 20px; width: 100%;}
.signout-Right{border: 1px solid #dee6e6; float: none; width: 100%;}
.logoutMidSec p {min-height: 0;}
.signoutBann{ width: auto !important;}
.signoutInnTxt h2 {font-size: 20px; padding-bottom: 10px;}
.signoutInnTxt {padding: 20px 0;}
.sigoutBg{ height: 300px;}
.usermenu {margin-top: 0px;}

.leftChat .topBtn nav { min-height: 0 !important; position: relative!important; right: auto; top: 0;
  width: auto; left: 0; width: 100% !important; padding-right: 50px;}
.leftChat .topBtn ul li{ width: 20%; float: left;}
.leftChat .topBtn nav button{ width: 100% !important;}
.row.blockList {padding: 10px 15px;}
.gallImgBx{ height: 200px;}
.profileInfoBx{ margin-top: 10px;}
.locatTabMain{ height: auto; min-height: 0;}
.tabs md-list-item .md-button {padding-bottom: 0px !important;}

.fullAdd{ height: auto !important;}
.fullAdd .col-sm-4 {float: none !important; padding: 0 0 10px;}
.locatTabMain {min-height: 0px;}
.srchAreaBx {min-height: 0px;}
}

@media(max-width: 639px){
.massageexchange > span {font-size: 20px; line-height: 24px;}
.massageexchange small {font-size: 15px;}
.locationBx{ width: 50%;}
.msglistBx {width: 35%;}
.srchfrmBx{ width: 15%;}
.welhd{ font-size: 20px;}
.welcontent p {font-size: 14px; line-height: 20px;}
form.frmBx{ width: 100%;}
.profpaidBx a{ margin-bottom: 5px;}
.listingtrans{ padding:40px 0; }
.adverplanBx table tr td.subsTxt {font-size: 14px; padding: 15px 10px;}
.purchaseBtn{ padding: 10px 20px;}
.adverplanBx table tr td{ padding: 15px 10px;}
.adverplanBx table tr td img {width: 17px;}
.composeBtn .logpopup-Btn{ float: none; margin: 0 !important;}
/*---------------25/11/2016---------------*/
.referfrdHd{ font-size: 26px; padding-bottom: 12px;}
.referList li {font-size: 15px; line-height: 20px;}
/*------------28/11/2016----------------*/
.professMsg {padding: 10px 0; position: relative; right: 0; text-align: center; top: 0;}
.prof-right-top { margin-bottom: 10px; padding-bottom: 10px; position: relative; text-align: center;}
.prof-right-top strong{ padding-bottom: 0;}
.prof-right-bot{ text-align: center;}
.profHd{ padding: 10px; font-size: 17px;}

/*-----------------01/12/2016------------------*/
.contributedHd > span{ font-size: 20px;}
.choosingOpt li label{ font-size:14px; }
.pollsHd{ font-size: 20px;}
.usercommitBx li strong{ font-size: 16px;}
.usercommitBx li p{ font-size: 13px;}
.aboutBanTxt > span {font-size: 32px;}
.aboutTrans {padding: 80px 0;}
.aboutBotHd strong {font-size: 20px;}
.aboutBotHd {font-size: 14px; line-height: 22px;}
.aboutList li {font-size: 14px; padding: 4px 15px;}

/*---------------------12/12/2016--------------------*/
.ContactMap img {width: 100%; height: 150px;}
.sendmailHd strong{ font-size: 20px;}
.fileButton{width:80px;}
.InpFile{ width: 80px;}
/*---------02/01/2017---------*/
.settBx-L{ width: 50%;}
.settBx-R{ width: 50%;}
.Dob-L{float: none; margin-right: 0; width: 100%;}
.Dob-R{float: none; width: 100%;}
/*---------31/01/2017---------*/
.msgNowHd {padding-bottom:25px;}
.profileTopBx {padding-left: 0px !important;}
.profile-Img{ position: relative !important;}
.profileTopBx .btn-exp {padding-left: 0; position: absolute; text-align: center; top: -251px; padding: 6px; right: 0;}
.profileTopBx.exp .btn-exp{ top: -115px; right: 0;  margin: 0;}
.bannerBot{ padding: 10px 0;}
.countryInp{ font-size: 12px;}
.loginBtnBx a {font-size: 12px; line-height: 20px; padding: 7px 6px;}
.logo-info {left: -120px; margin-right: 0; position: relative;}
.srchtrans {padding: 30px 0;}
h1.heading{ font-size: 25px; padding: 0 0 5px 0;}
/*--------------Signout-------------*/
.signoutBann{ height: 220px;}
.prof-right-top strong {font-size: 20px; text-align: center; margin: 0 auto; max-width: 200px; padding-right: 0;}
.profilepage-Bot md-tabs-canvas.md-paginated {margin: 0 10px;}
.profilepage-Bot .md-tab{ font-size: 12px; padding: 10px 5px;}
.profilepage-Bot md-next-button md-icon{ right: -25px;}
.profilepage-Bot md-prev-button md-icon{ left: 5px;}
.videoBx .col-xs-6 {width: 100%; float: none; padding: 0;}
}
@media(max-width: 479px){
.bannerBg > img {min-height: 180px;}
.massageexchange{ display: none;}
.bannersrchBx{ background: none;}
.locationBx {background: #fff none repeat scroll 0 0; border-radius: 3px; border-right: 0 none; margin-bottom: 5px; width: 100%;}
.msglistBx {background: #fff none repeat scroll 0 0; border-radius: 3px 0 0 3px; width: 80%;}
.srchfrmBx {width: 20%;}
.bannerBot{ padding:7px 0; }
.loginBtnBx a {font-size: 13px; padding: 7px 10px;}
.slideBx {padding: 10px 0;}
.fbCont{ padding-left: 50px;}
.fbCont i{ width:40px;}
.LoginHd {font-size: 16px !important; font-weight: 600 !important;}
.advertiseHd {font-size: 18px; line-height: 25px; padding: 50px 0;}
.moreclintHd {font-size: 16px; text-align: left;}
.advertble{ overflow: auto;}
.advertble table{ width:500px;}
.composeBtn .mail-closeBtn{ width: 100px !important; font-size: 14px; min-height: 30px; line-height: 30px;}
.composeBtn .logpopup-Btn{ width: 100px !important; font-size: 14px; min-height: 30px; line-height: 30px;}
.attachfile > span {display: block; padding-bottom: 10px;}
/*.attachfile > span > md-checkbox{ margin-bottom: 5px;}*/

/*--------------25/11/2016--------------*/
.referfrdHd {font-size: 20px; padding-bottom: 12px;}
.referfrdBx{ padding: 15px;}

/*------------28/11/2016---------------*/
.profdesc strong{ font-size: 15px;}
.prof-right-top strong{ font-size: 20px;}
.professMsg a {display: block; font-size: 13px; padding: 4px 0; margin-bottom: 5px;}
.prof-right-bot{ font-size: 14px;}
.userBx {margin: 3px 46px 0 0;}
.userBx i img {height: 32px; width: 32px;}
.userBx a {font-size: 12px; margin-top: 7px; padding-left: 3px;}
.userBx a i{ font-size: 26px;}
.blocklistBx > span{ padding:10px; }
.blocklistBx > a{ padding: 7px 0; font-size: 16px;}
/*--------------29/11/2016-----------*/
.msgNowHd{ font-size: 18px;}
.msgBg{ padding: 12px;}
.sechInp{ height: 40px;}
 .mylocationTabs ul li a{ font-size: 13px; padding: 0 10px;}
 .mylocationTabs{ margin-bottom: 10px;}
/*----------------01/12/2016----------------*/
.pollsHd {font-size: 16px; padding-bottom: 5px;}
.pollsHd span a{ margin-left: 0; margin-right: 5px;}
.contributedHd > span {font-size: 18px;}
.pollrangeMain li{ font-size: 12px;}
.pollrangeMain li span{ padding-bottom: 5px;}
.pollrangeMain li span i{ padding-left: 20px;}
.pollBx{ padding: 15px 10px;}
.usercommitBx li {padding: 10px 0 10px 60px;}
.usercommitBx li i {height: 50px; width: 50px;}
.usercommitBx li strong{ padding: 0;}
.usercommitBx li p {font-size: 13px; line-height: 20px;}
.pagerBx .pager li > a, .pagerBx .pager li > span{ padding: 5px 10px;}
.blogList li strong {font-size: 14px;}
.aboutBotHd strong {font-size: 17px;}
.aboutBanTxt > span {font-size: 26px;}
/*------------12/12/2016--------------*/
.postBlogBx{ padding: 15px;}
.suggpoll{ padding: 15px;}
.addvid-BtnBx a {font-size: 14px; line-height: 22px; margin-left: 3px; padding: 8px 0; width: 90px;}
.addvid-BtnBx .logpopup-Btn {display: inline-block; font-size: 14px; width: 110px !important;}
.specifyHd > span {font-size: 16px;}
.mylocationHd {font-size: 18px;}
.mylocatInn{ padding: 10px;}
.addcountryCity > a{ width: 125px; font-size: 14px; padding: 7px 0;}
.locatHd {font-size: 13px; line-height: 20px; padding: 7px 0;}
.locatHd strong {display: block; font-size: 15px;}
.locatTabMain {padding: 15px;}

/*---------02/01/2017---------*/
.settBx-L{ width: 65%;}
.settBx-R{ width: 35%;}
.SettingCont > span{ font-size: 20px;}
.msgBg {min-height: 250px;}
.topBtn ul li a {font-size: 12px; line-height: 14px; padding: 15px 6px;}
.userNames{ font-size: 14px;}
.otherUserImage{ width: 35px;}
.otherUser {padding-left: 45px; padding-right: 45px;}
.timeBox{ font-size: 10px;}
.step3-L {float: none; width: 100%;}
.step3-R{float: none; width: 100%;}
.frmBx .md-dialog-content{ padding: 10px;}
.nextback .logpopup-Btn{ width: 100px !important; font-size: 14px; min-height: 30px; line-height: 30px;}
.stepmapBx{ margin-top: 15px;}
.stepmapBx iframe {height: 200px; width: 100%;}

/*-------31/01/2017--------------*/
.availablTxt .uib-time input {width: 38px; padding: 6px 4px;}
.availablTxt .btn{ padding: 6px 4px; margin-left: 2px;}
.availablTxt .md-label span{ font-size: 13px;}
.nav-btn.md-icon-button{ width: 34px; margin: 0; font-size: 12px;}
.usermenu{ font-size: 12px; margin: 0; padding: 0;}
.notification .md-icon-button{ width: 25px; padding: 2px; margin: 0;}
.userBx {margin: 0px 30px 0 0;}
.logo-info{ display: none;}
.loginBtnBx a {font-size: 12px; padding: 7px 6px;}
.loginBtnBx {right: 7px; top: 5px;}
.accordion .panel-heading a{ padding: 12px 15px;}
.margin-top20 {margin-top: 15px !important;}
h1.heading{ font-size: 18px;}
.profile-Img {height: 160px; width: 170px;}
.profileTopBx .btn-exp {right: -10px; top: -226px;}
.blueBg{ width: 100%;}
.typeLabel li {padding-bottom: 15px; padding-right: 0;}
.typeLabel li > span {display: block !important; position: relative !important; width: 100% !important;}
/*-------------------signout ----------------*/
.signoutInnTxt > p {font-size: 13px; line-height: 20px;}
.logoutMidSec {font-size: 14px; padding: 10px;}
.logoutMidSec p{ font-size: 13px; line-height: 20px;}
.signoutInnTxt h2 {font-size: 18px;}
.logoutBtns{ font-size: 13px; padding: 6px 15px;}
.sigoutBg {height: 250px;}
.leftChat .topBtn nav button {width: 100% !important; min-width: 0 !important; font-size: 13px !important; padding: 14px 10px !important;}
.leftChat .topBtn nav{ padding-right: 35px;}
.leftChat .topBtn ul li {float: left; width: auto;}
 h2{font-size: 17px; font-weight: 600 !important; padding-bottom: 5px !important;}
 .contFrm {padding: 0 0 20px;}
.contDetBg {margin-left: -15px; margin-right: -15px;}
.list p{ padding-left: 28px !important;}
.gallImgBx {height: 130px;}
.browseBx label { padding: 0 10px !important ; text-overflow: ellipsis; height: 43px !important; overflow: hidden;}
.blocklistBx > .btn{ padding: 5px 0 !important; min-height: 30px !important;}
.blocklistBx span{ font-size: 13px !important;}
.publicHd{ margin-top: 10px; font-size: 20px;}
.locatTab > ul > li:first-child{ width: 35% !important;}
.locatTab > ul > li:nth-child(2){ width: 65% !important;}
.locatTab li md-radio-button .md-label{ margin-left: 24px;}
.locatTab > ul > li > md-radio-group > ul > li { width: 50% !important;}
.addnewLoc{ bottom: 62px;}
.msgBg > form > .srchformBx:last-child{padding-bottom: 0;}
.msgBg > form > .srchformBx:last-child md-input-container {margin: 0 auto !important;}
.md-dialog-content {padding: 10px 10px !important;}
md-dialog{ max-width: 95% !important;}
.md-button.md-primary.chat-btn .icon-sm{ float: none !important;}
md-checkbox .md-label{ margin-left: 22px;}
}