<section class="advertise-banner">
  <div class="advertiseTrans">
      <div class="advertiseHd">Advertise your <strong>massage therapy business</strong></div>
  </div>
</section>
<section class="moreclientsBg">
    <div class="container">
      <h2 class="moreclintHd">GET MORE CLIENTS SIGN UP FOR FREE!</h2>
      <div class="signuplisting">
        <ul class="clearfix">
          <li><i class="material-icons">chevron_right</i> Advertise Your Massage Business For FREE!</li>
          <li><i class="material-icons">chevron_right</i> Steady income stream avoid slow periods!</li>
          <li><i class="material-icons">chevron_right</i> Members in more than 40 countries and growing! </li>
          <li><i class="material-icons">chevron_right</i> We help connect you with clients wherever you are!</li>
          <li><i class="material-icons">chevron_right</i> Global massage network featuring massage therapists offering massages at <prices ng-include="template.priceview"></prices></li>
          <li><i class="material-icons">chevron_right</i> Make your business portable¦Take your business with you anywhere in the world!</li>
          <li><i class="material-icons">chevron_right</i> Even if you advertise at higher prices on other sites, this will give you additional business!</li>
          <li><i class="material-icons">chevron_right</i> Value creates repeat customers¦. "It's all about massage!</li>
        </ul>
      </div>
    </div>
</section>

<section class="adverplanBx">
  <div class="container">

  <div class="loading" ng-show="loading">
               <md-progress-circular class="md-primary" md-diameter="30"></md-progress-circular>
               <span>Loading..</span>
  </div>


  <div class="advertble" ng-show="!loading">
    <table cellpadding="0" cellspecing="0" border="0">
      <tbody><tr>
        <td width="40%" class="basicfirst">&nbsp;</td>
        <td width="30%" class="basicHD">Basic</td>
        <td width="30%" class="GoldHd">Gold</td>
      </tr>
      <tr>
        <td class="subsTxt">Subscription (billed on signup as Annual payment)</td>
        <td class="basicPric"><sup>$</sup> 0 <sub>/month</sub></td>
        <td class="basicPric"><sup>$</sup> 49.99 <sub>/month</sub></td>
      </tr>
      <tr>
        <td class="tblebackBg">Number of Photos</td>
        <td class="tblebackBg" align="center">0</td>
        <td class="tblebackBg" align="center">50</td>
      </tr>
      <tr>
        <td>Number of Videos</td>
        <td align="center">0</td>
        <td align="center">50</td>
      </tr>
      <tr>
        <td class="tblebackBg">Live Customer Support</td>
        <td class="tblebackBg" align="center"><img src="/images/close-icon.png" alt=""></td>
        <td class="tblebackBg" align="center"><img src="/images/right-icon.png" alt=""></td>
      </tr>
      <tr>
        <td>Massage Now feature</td>
        <td align="center"><img src="/images/close-icon.png" alt=""></td>
        <td align="center"><img src="/images/right-icon.png" alt=""></td>
      </tr>
      <tr>
        <td class="tblebackBg">Massage Messenger Chat</td>
        <td class="tblebackBg" align="center"><img src="/images/close-icon.png" alt=""></td>
        <td class="tblebackBg" align="center"><img src="/images/right-icon.png" alt=""></td>
      </tr>
      <tr>
        <td>Zenbrisa E-mail</td>
        <td align="center"><img src="/images/right-icon.png" alt=""></td>
        <td align="center"><img src="/images/right-icon.png" alt=""></td>
      </tr>
      <tr>
        <td class="tblebackBg">Travel Feature</td>
        <td class="tblebackBg" align="center"><img src="/images/right-icon.png" alt=""></td>
        <td class="tblebackBg" align="center"><img src="/images/right-icon.png" alt=""></td>
      </tr>
      <tr>
          <td class="basiclast"></td>
          <td align="center" class="purchaseBtn"><md-button class="md-raised md-primary purchaseBtn white">Purchase</md-button></td>
          <td align="center" class="purchaseBtn"><md-button class="md-raised md-primary purchaseBtn white">Purchase</md-button></td>
        </tr>
      </tbody>
      </table>

  </div>
  </div>
</section>
