<div class="mainCont">
<!--user profile header-->
<section ng-include="template.userProfileHeader"></section>

<section class="profilepage-Bot">
  <div class="container">
    <div class="row clearfix">
      
    <!--userside navabar-->
      <div class="col-sm-3">
        <div class="profHd clearfix">Profile <span><img src="/images/profile-arrow.png"></span></div>
        
        <span ng-include="template.usersideNavbar"> Loading..</span>
        </div>
      <!--end user sidenavbar-->

      <div class="col-sm-9">
          
          <!--review list data-->
        <div class="row blockList">
          <div class="publicHd">Video Gallery ({{videoList.length}})</div>
          <!--header content-->
         <div class="pubgall">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vulputate libero eros, ut scelerisque diam posuere eget
        </div>

        <!--add new video-->
        <div class="uploadBtnbx">
          <md-button class="md-raised md-primary logpopup-Btn"  
            ng-click="addvideo($event)">  <md-icon class="text-white" >videocam</md-icon> Add Videos
          </md-button>
        </div>

            <div class="loading" ng-show="loading">
               <md-progress-circular class="md-primary" md-diameter="30"></md-progress-circular>
               <span>Loading..</span>
            </div>

            <div>
                <!--not added video-->
                <div class="noData" ng-show="videoList.length==0"> 
                <md-icon >videocam</md-icon>  You haven't added any video yet!</div>

        <!--video template list -->
        <div class="videoBx">
        
          <div class="col-xs-6" ng-repeat="x in videoList track by $index">
            <div class="vedio-content">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe ng-if="x.videoUrl" class="embed-responsive-item" 
                      ng-src="{{getUrl(x.videoUrl)}}"></iframe>
                </div>
                <p class="title">{{x.title}}</p>
                
                <div class="btn-action"  layout="row"  layout-align="center center">

                    <md-button  
                       ng-if="x.description"
                        uib-popover-template="'description.html'"
                        popover-trigger="'mouseenter'"
                        popover-append-to-body="true"
                        popover-placement="top"
                    >
                      <md-icon>insert_comment</md-icon> Description
                    </md-button>

                     <md-button  ng-if="!x.description">
                      <md-icon>insert_comment</md-icon> No Description
                    </md-button>

                     <md-button ng-click="deleteVideoById(x.id,videoList,$index)">
                      <md-icon>delete_forever</md-icon> Delete
                     </md-button>

                      <md-button 
                        class="md-icon-button" 
                        uib-popover-template="'moreinfo.html'"
                        popover-trigger="'mouseenter'"
                        popover-append-to-body="true"
                        popover-placement="top"
                        >
                     <md-icon>update</md-icon>
                     </md-button>

                      <md-button ng-click="zoomMap(x.videoUrl,x.title,$event)" class="md-icon-button">
                          <md-icon>zoom_out_map</md-icon>
                      </md-button>

                </div>
            </div> <!--end content box-->
          </div> <!--end column-->

        </div>

        </div>
         

       </div> <!--end row-->
      </div> <!--end coloumn-->

    </div>
  </div>
</section>

</div>   

<!--more info -->
<script type="text/ng-template" id="moreinfo.html">
  <div class="needlogin text-center text-small">
  <md-icon>update</md-icon> <span> Uploaded Date: {{getFormateddate(x.createdDatetime)}}</span>
</div>           
   
</script>

<!--description tpl-->
<script type="text/ng-template" id="description.html">
  <div class="needlogin text-center text-small">
  <span ng-bind-html="x.description"> Loading..</span>
</div>
             

</script>