
 <md-dialog aria-label="view video">
  <form ng-cloak>
    <md-toolbar class="viewvideoTitle">
      <div class="md-toolbar-tools">
        <h2>{{videoTitle}}</h2>
       
         <md-button class="md-icon-button closeIcon" ng-click="cancel()">
          <md-icon  aria-label="Close">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content"  layout="row"  layout-align="center center">
          <youtube-video video-url="videourl"  class="videoModal"></youtube-video>
       
      </div>
    </md-dialog-content>

   
  </form>
</md-dialog>