<div class="mainCont">

<section class="profileTopBg">
  <div class="container">
    <div class="profileTopBx">
      <div class="profile-Img">
      
        <img ng-if="userprofile.profilePicture" ng-src="{{userprofile.profilePicture}}" 
             alt="{{userprofile.fullName}}">
        <img ng-if="!userprofile.profilePicture" src="images/default-user-icon-profile.png">
        <span ng-if="reating" class="reating" reating reating-data="userprofile.avgRating"> </span>
      </div>
 
      <div class="prof-right-top">
        <strong>   
          {{ userprofile.fullName || 'Welcome..' }}
        </strong>

        <small>
            <span ng-if="userprofile.dob">
            <i class="material-icons blueClr personIcon">person</i> 
            {{getAge(userprofile.dob)}} |
            </span>

            {{userprofile.address}}
            </small>
        <div class="professMsg">
             <a class="vollatBg" 
              ng-if="userprofile.professionalType=='paid' || userprofile.professionalType=='both'">
                Paid Professional Massage</a>
            <a class="blueBg paidprofBtn" ng-click="profileStep()">Edit/update Profile</a>
        </div>

      </div>
      <div class="prof-right-bot">
      <!--about-me-->
      <p ng-bind-html="userprofile.aboutme"></p>

        <!--subscriptionExpiredDate-->

        <span ng-if="userprofile.subscriptionExpiredDate">
          <i class="material-icons">wifi</i> 
          Subscription Expires on : {{userprofile.subscriptionExpiredDate |date:'EEE MMM, dd, yyyy'}}   
        <a class="blueClr">Renew Subscription</a></span>
      </div>
    </div>
  </div>
</section>
<section class="profilepage-Bot">
  <div class="container">
    <div class="row clearfix">
      
    <!--userside navabar-->
      <div class="col-sm-3">
        <div class="profHd clearfix">Profile <span><img src="/images/profile-arrow.png"></span></div>
        
        <span ng-include="template.usersideNavbar"> Loading..</span>
        </div>
      <!--end user sidenavbar-->

      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-5">
            <div class="profileInfoBx">
              <div class="profInfoHd">Personal Information</div>
              <div class="myProfList">
                <ul>
                  <li ng-if="userprofile.gender">Gender: <span> {{userprofile.gender}}</span></li>
                  <li ng-if="userprofile.fulladress.country">Country:  
                      <span>{{userprofile.fulladress.country.name}}</span>
                  </li>
                  <li ng-if="userprofile.fulladress.state">
                      State: <span>{{userprofile.fulladress.state.name}}</span>
                  </li>
                  
                  <li ng-if="userprofile.address">Address:  <span>{{userprofile.address}}</span></li>
                  <li ng-if="userprofile.dob">Age:  
                      <span>{{getAge(userprofile.dob)}}Y </span>
                  </li>
            
                  <li ng-if="userprofile.exchange">
                    Seeking to <br>exchange with:  
                    <span class="pinkClr" 
                    ng-class="{'pinkClr':userprofile.exchange=='female','blueClr':userprofile.exchange=='male'  }"> 
                      {{ 
                      userprofile.exchange=='male'?'M':
                      userprofile.exchange=='female'?'F':
                      userprofile.exchange=='both'?'MF':''

                      }} 
                      <i class="tooltipBx">?
                    <span class="tooltipInn" 
                          ng-if="userprofile.exchange=='both'">
                          Male-Female
                    </span>
                    <span class="tooltipInn">
                      {{userprofile.exchange}}
                    </span>

                  </i></span>

                  </li>
                  <li>Body Type:  
                    <span>
                      {{userprofile.bodyTypeOne || 'N/A'}}

                      </span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-7"  >
       
              <div class="profmapBx" >
             
                    <ng-map 
                        ng-if="userprofile.fulladress.location" zoom="11"
                        ng-init="pos=[userprofile.fulladress.location.lat,userprofile.fulladress.location.lng]"
                          center="{{pos}}">
                          <marker position="{{pos}}"> </marker>
                    </ng-map>

                </div>
              <div class="bodyWork">
                <div class="profInfoHd">Personal Information</div>
                <div class="typeLabel">
                  <ul>
                    <li>Type of level: 
              <span>

            {{(userprofile.experience=='professional' ? 'Professional/CMT' : userprofile.experience) || 'Not Specified'}}

              </span>
                  </li>
                    <li ng-if="userprofile.massageStylesOne">
                      Styles of massage that I prefer to give: 
                      <span ng-bind-html="userprofile.massageStylesOne"></span>
                    </li>

                    <li>Types of Massage that interest me 
                        <span>
                          <span>{{userprofile.interests }} : Seeks - 
                             <small class="pinkClr" 
                    ng-class="{'pinkClr':userprofile.exchange=='female','blueClr':userprofile.exchange=='male'  }"> 
                      {{ 
                      userprofile.exchange=='male'?'M':
                      userprofile.exchange=='female'?'F':
                      userprofile.exchange=='both'?'MF':''

                      }} 
                      <i class="tooltipBx">?
                    <span class="tooltipInn" 
                          ng-if="userprofile.exchange=='both'">
                          Male-Female
                    </span>
                    <span class="tooltipInn">
                      {{userprofile.exchange}}
                    </span>
                      </i>
                      </small>
                        </span>
                    </li>
                  </ul>
                </div>
              </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>

</div>	 
