<section class="searchBg">
  <div class="srchtrans">
      <div class="container">
        <div class="row clearfix">
          <div class="col-sm-6">
            <div class="msgBg">
              <div class="msgNowHd">Massage Now!<sup>&trade;</sup></div>
              <div class="availablTxt clearfix">
                  <md-checkbox  aria-label="Checkbox 1">I am available till</md-checkbox>
                  <span style="margin-top: -40px;">
                    <div uib-timepicker
                  ng-model="mytime"
                  ng-change="changed()"
                  hour-step="1" minute-step="10" ></div>
                  </span>
              </div>
              <div class="srchformBx">
              <!--country with iso dial code-->
                <md-select ng-model="weapon" placeholder="- Select Your Country Code -" class="md-no-underline sechInp">
                  <md-option>-Select Your Country Code-</md-option>
                  <md-option ng-repeat="x in countryCode | orderBy:'name'" ng-value="x">
                    {{x.name}} ({{x.dial_code}})
                  </md-option>
                
                </md-select>
              </div>
              <div class="srchformBx">
                <input type="text" name="mobilenumber" class="sechInp" placeholder="Enter Your Mobile Number">
              </div>
              <div class="srchsave">
                <md-button class="md-raised md-primary logpopup-Btn">Save</md-button>
                <md-button class="md-raised md-primary logpopup-Btn">Cancel</md-button>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="msgBg">

              <div class="msgNowHd">Search For Massages</div>

<md-tabs
        class="md-accent"
        md-selected="data.selectedIndex"
        md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">

        <md-tab id="tab1">
        <md-tab-label>My Location</md-tab-label>
        <md-tab-body ng-init="searched.mile=''">
              <div class="msglocat">
                <div class="srchformBx">
                  <md-select ng-model="searched.mile" placeholder="- Select within Miles -" class="md-no-underline sechInp">
                   <md-option ng-repeat="mile in commonMilesArray" value="{{mile.hideValue}}">{{mile.displayValue}}</md-option>
                  </md-select>
                </div>
                <div class="srchformBx" ng-init="mySavedLocations()">

                  <md-select ng-model="searched.location"
                  placeholder="- Select Location -"
                  md-on-close="addLocation(searched.location, $event)"
                  class="md-no-underline sechInp" ng-change="checkLocationType(searched.location)">
                    <md-option value="">-Select Location-</md-option>
                    <md-option ng-repeat="x in myLocations | orderBy : '+travelLocationName'" value="{{x.travelLocationName+'|'+x.latitude+'|'+x.longitude+'|'+x.locationType}}" >{{x.travelLocationName}}</md-option>

                    <md-option value="addCity" >Add City</md-option>
                    <md-option value="addCountry">Add Country</md-option>
                     <md-option value="editList">Edit List</md-option>


                  </md-select>
                </div>

                <div class="srchsave">
                  <md-button class="md-raised md-primary logpopup-Btn" ng-click="searchFromSavedLocations(searched)" aria-label="Search">Search</md-button>
                </div>
              </div>
</md-tab-body>
      </md-tab>


<md-tab id="tab2" ng-disabled="data.secondLocked">
        <md-tab-label>Countries</md-tab-label>
        <md-tab-body>
              <div class="msglocat">
                <div class="srchformBx">


                <md-content class="md-padding autocomplete" layout="column">
                   <h2 class="md-title">Country</h2>
                <md-contact-chips class="chips"
                                  ng-model="asyncContacts"
                                  md-contacts="countries($query)"
                                  md-contact-name="title"
                                  md-contact-image="image"
                                  md-contact-email="email"
                                  md-require-match="true"
                                  md-highlight-flags="i"
                                  filter-selected="filterSelected"
                                  placeholder="Type country name (In English)">
                  </md-contact-chips>
                </md-content>
                </div>
                <div class="srchsave">
                  <md-button class="md-raised md-primary logpopup-Btn" ng-click="searchFromCountries(asyncContacts)" aria-label="Search From Countries">Search</md-button>
                </div>
              </div>
          </md-tab-body>
      </md-tab>
<md-tab id="tab3">
        <md-tab-label>Members</md-tab-label>
        <md-tab-body>

              <div class="msglocat">
                <div>
                <md-input-container class="md-icon-float md-icon-right md-block">
                  <md-select ng-model="searched.type" placeholder="- Select Members -" class="md-no-underline sechInp">
                    <md-option value="">-Select Members-</md-option>
                    <md-option value="availability">Massage Now!<sup>TM</sup></md-option>
                     <md-option value="Online">Online Members</md-option>
                    <md-option value="username">Username</md-option>
                    <md-option value="keyword">Keyword</md-option>
                    <md-option value="professional">Professional Massage Therapist </md-option>
                  </md-select>
                  <!-- Searches for Massage Now, Online Members and Professionals are within 60 mile / 96 km of home/travel location. -->
                  <md-icon  
                   uib-popover="Searches for Massage Now, Online Members and Professionals are within 60 mile / 96 km of home/travel location"
                  popover-trigger="'mouseenter'"
                  popover-is-open="user.openPopover"
                  popover-append-to-body="true"
                  popover-placement="left" class="pointer">
                  help</md-icon>
                </div>
              </md-input-container>
                <div class="srchformBx" ng-if="searched.type == 'username' || searched.type == 'keyword'">
                  <input type="text" name="mobilenumber" ng-model="searched.q" class="sechInp" placeholder="Enter Details">
                </div>
                <div class="srchsave">
                  <md-button class="md-raised md-primary logpopup-Btn" aria-label="Search Member" ng-click="searchMember(searched)">Search</md-button>
                </div>
              </div>
  </md-tab-body>
      </md-tab>

</md-tabs>

                </div>
              </div>
            </div>

        <div class="noteTxt">
        <span>Please Note:</span>
        <p>Since we are just beginning, you may not find anyone in your area on the first few times you come into our website.Please check back frequently as our database will quickly populate</p>
        </div>

      </div>
      </div>
  </div>
</section>


