<section class="profileTopBg" 
  ng-class="{'professional': userprofile.professionalType=='paid' || userprofile.professionalType=='both'}">
  
  <div class="container">
    <div class="profileTopBx" ng-class="{'exp': !headerExp}">
      <div class="profile-Img">
        <img ng-if="userprofile.profilePic" ng-src="{{userprofile.profilePic}}" 
             alt="{{userprofile.fullName}}">
        <img ng-if="!userprofile.profilePic" src="images/default-user-icon-profile.png">
        <span ng-if="reating" class="reating" reating reating-data="userprofile.avgRating"> </span>
      </div>
 
      <div class="prof-right-top">
        <strong>  {{ userprofile.fullName || 'Welcome..' }}   </strong>

        <small>
      
            <span ng-if="userprofile.dob">
              <i class="material-icons blueClr personIcon">person</i> 
              {{userprofile.age}} |  </span>
              {{userprofile.address}}
        </small>
        
        <div class="professMsg" >
             <a class="vollatBg" 
              ng-if="userprofile.professionalType=='paid' || userprofile.professionalType=='both'">
                Paid Professional Massage
              </a>
            <md-button class="blueBg" ng-click="profileStep()">Edit/update Profile</md-button>
            <md-button class="md-icon-button btn-exp pull-right" 
            ng-click="userHeaderExp(headerExp)" aria-label="exp">
                    <md-icon ng-if="!headerExp">keyboard_arrow_down</md-icon>
                    <md-icon ng-if="headerExp"> keyboard_arrow_up</md-icon>
                  </md-button>
        </div>

      </div>
      <div class="prof-right-bot" ng-if="headerExp">
      <!--about-me-->
      <p ng-bind-html="userprofile.aboutme"></p>

        <!--subscriptionExpiredDate-->
        <span ng-if="userprofile.subscriptionExpiredDate">
          <i class="material-icons">wifi</i> 
          Subscription Expires on : {{userprofile.subscriptionExpiredDate |date:'EEE MMM, dd, yyyy'}}   
        <a class="blueClr">Renew Subscription</a></span>
      </div>
    </div>
  </div>
</section>