<section class="searchBg">
  <div class="srchtrans">
      <div class="container">
        <div class="row clearfix">
          <div class="col-sm-6">
            <div class="msgBg">
              <div class="msgNowHd">Massage Now!<sup>&trade;</sup></div>
              <div class="availablTxt clearfix">
                  <md-checkbox  aria-label="Checkbox 1">I am available till</md-checkbox>
                  <span><input type="text" name="time" class="TimeiNp" placeholder="0:00"></span>
              </div>
              <div class="srchformBx">
                <select name="listmenu" class="sechInp appraence downarrow"><option>- Select Your Country Code -</option></select>
              </div>
              <div class="srchformBx">
                <input type="text" name="mobilenumber" class="sechInp" placeholder="Enter Your Mobile Number">
              </div>
              <div class="srchsave">
                <md-button class="md-raised md-primary logpopup-Btn">Save</md-button>
                <md-button class="md-raised md-primary logpopup-Btn">Cancel</md-button>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="msgBg">
              <div class="msgNowHd">Search For Massages</div>
              <div class="mylocationTabs">
                <ul class="clearfix">
                  <li><a href="#locat" class="active">My Location</a></li>
                  <li><a href="#cont">Countries</a></li>
                  <li><a href="#memb">Members</a></li>
                </ul>
              </div>
              <div class="msglocat" id="locat">
                <div class="srchformBx">
                  <select name="listmenu" class="sechInp appraence downarrow"><option>- Select within Miles -</option></select>
                </div>
                <div class="srchformBx">
                  <select name="listmenu" class="sechInp appraence downarrow"><option>- Select Location -</option></select>
                </div>
                <div class="srchsave">
                  <md-button class="md-raised md-primary logpopup-Btn">Search</md-button>
                </div>
              </div>
              <div class="msglocat" id="cont" style="display:none;">
                <div class="srchformBx">
                  <select name="listmenu" class="sechInp appraence downarrow"><option>- Select State -</option></select>
                </div>
                <div class="srchformBx">
                  <select name="listmenu" class="sechInp appraence downarrow"><option>- Select City -</option></select>
                </div>
                <div class="srchsave">
                  <md-button class="md-raised md-primary logpopup-Btn">Search</md-button>
                </div>
              </div>
              <div class="msglocat" id="memb" style="display:none;">
                <div class="srchformBx">
                  <select name="listmenu" class="sechInp appraence downarrow"><option>- Select Members -</option></select>
                </div>
                <div class="srchformBx">
                  <input type="text" name="mobilenumber" class="sechInp" placeholder="Enter Your Mobile Number">
                </div>
                <div class="srchsave">
                  <md-button class="md-raised md-primary logpopup-Btn">Search</md-button>
                </div>
              </div>


              </div>
            </div> 
          </div>
          <div class="noteTxt">
            <span>Please Note:</span>
            <p>Since we are just beginning, you may not find anyone in your area on the first few times you come into our website.Please check back frequently as our database will quickly populate</p>
          </div>

        </div>
      </div>
  </div>
</section>