<section class="profileTopBg" 
  ng-class="{'professional': userprofile.professionalType=='paid' || userprofile.professionalType=='both'}">
  
    <div class="loading" ng-show="loading">
               <md-progress-circular class="md-primary" md-diameter="30"></md-progress-circular>
               <span>Loading..</span>
            </div>
            
  <div class="container">
    <div class="profileTopBx" ng-class="{'exp': !headerExp}">
      <div class="profile-Img" style="background-image:url({{userprofile.profilePic || 'images/default-user-icon-profile.png'}})">
  <!--       <img ng-if="userprofile.profilePic" ng-src="{{userprofile.profilePic}}" 
             alt="{{userprofile.fullName}}"> -->

        <!-- <img ng-if="!userprofile.profilePic" src="images/default-user-icon-profile.png"> -->
        <span ng-if="userprofile.avgRating" class="reating" reating reating-data="userprofile.avgRating" ng-show="headerExp"> </span>
      </div>
 
      <div class="prof-right-top">
        <strong>  {{ userprofile.fullName || userprofile.username || 'Welcome..'  }}   </strong>

        <small>
      
            <span>
              <i class="material-icons blueClr personIcon">person</i> 
              {{userprofile.age || userprofile.ageOne}}  </span>
               <span >| {{userprofile.city}} ,{{userprofile.state}}, {{userprofile.country}}</span>
        </small>
        
        <div class="professMsg" >
             <a class="vollatBg" 
              ng-if="userprofile.professionalType=='paid' || userprofile.professionalType=='both'">
                Paid Professional Massage
              </a>
            <md-button ng-if="!isUserProfile" class="blueBg" ng-click="profileStep()">Edit/update Profile</md-button>
            <md-button class="md-icon-button btn-exp pull-right"  
            ng-click="userHeaderExp(headerExp)" aria-label="exp">
                    <md-icon ng-if="!headerExp">keyboard_arrow_down</md-icon>
                    <md-icon ng-if="headerExp"> keyboard_arrow_up</md-icon>
                  </md-button>
        </div>

      </div>
      <div class="prof-right-bot" ng-if="headerExp">
      <!--about-me-->
      <p ng-bind-html="userprofile.aboutme"></p>

        <!--subscriptionExpiredDate-->
        <span ng-if="userprofile.subscriptionExpiredDate">
          <i class="material-icons">wifi</i> 
          Subscription Expires on : {{userprofile.subscriptionExpiredDate |date:'EEE MMM, dd, yyyy'}}   
        <a class="blueClr">Renew Subscription</a></span>
      </div>
    </div>
  </div>
</section>