.width_100{max-width: 100% !important;}
md-backdrop, md-sidenav {position: fixed;}

md-toolbar {min-height: 50px;}
.md-toolbar-tools {    height: 50px;  max-height: 50px;}
md-sidenav md-toolbar  md-icon{color:white!important; fill: white !important;}
md-sidenav .md-toolbar-tools{ color: white ; font-size: 15px; font-weight: 600;}
md-sidenav p{ padding-bottom: 0;}
md-sidenav md-list .md-button:hover md-icon,md-sidenav md-list .md-button:hover p { color:rgb(3,169,244) !important;}
.navbar-toggle { display: none;}
.margin-top20 { margin-top: 25px;}
.heading {
    display: table;
    text-transform: uppercase;
    margin: auto;
    padding: 6px 15px;
    border-bottom: 2px #00A9FF solid;
    color: #00AAFF;
    font-size: 33px;}
.search-btn md-icon{
    color: white !important;
    font-size: 37px;
    line-height: 40px;
    height: 40px;
    width: 40px;
  }
 blue{color:#00A9FF}
.accordion .panel-heading {  border-radius: 0;padding: 0}
.accordion .panel {  border-radius: 0;}
.accordion .panel-heading  a{ display: block;
    position: relative;
    padding: 15px;
font-size: .9em;
    color: #4E4E4E;
}
.accordion .panel-heading  a::before{
  content: '|';
  position: absolute;
  right:20px;
  top: 13px;
  color: #00A8FF;
  z-index: 1;

}
.accordion .panel-heading  a::after{
  content: '|';
  position: absolute;
  right: 21px;
  top: 15px;
  color: #00A8FF;
  z-index: 1;
  transform: rotate(-90deg);
}
.accordion .panel a[aria-expanded=true]::before{ content: ''}
.panel-primary.panel-open>.panel-heading
{
    color: #fff;
    background-color: #00AAFE;
    border-color: #00AAFE;
}
.panel-primary>.panel-heading
{
    color: #00A8FF;
    background-color: #FFFFFF;
    border-color: #00AAFF;
}
.panel-primary {    border-color: #00AAFE;}

.accordion .panel-primary.panel-open .panel-heading  a{ color: white;}
.accordion .panel-primary.panel-open .panel-heading  a::before,
.accordion .panel-primary.panel-open .panel-heading  a::after
{ color:white;}

.referBg md-icon{color: #00AAFE; }
 a{ cursor: pointer;}
.list md-icon { float: left;     margin-left: -31px;}
.info span {font-size: 29px;     color: white;     font-style: normal;     display: block;     margin-bottom: 16px;}
.info small {    font-size: 21px;     font-style: normal;}
.info span b { color: black;}
.logoBx img {    max-width: 133px;}
.info 
  { 
   color: white;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 2px;
   word-spacing: 3px;
   font-style: italic;
   margin-bottom: 0;
   padding-bottom: 0;
 }
.info a{ color: white;    font-weight: 600;}
.info a:hover { color:black}
.list p{ text-align: left;padding-bottom: 5px; padding-left: 62px;}
.list p a{     color: rgb(2,119,189);}
.loading { text-align: center;color: #007AB1;}
.margin-top25 { margin-top: 25px; }
md-progress-circular { margin: auto;}
.scroll-top {
  position: fixed;
  right: 15px; bottom: 10px;background-color: rgba(0, 173, 255, 0.94) !important;
  color: white !important;
  display: none;
}
 .scroll-top md-icon { color: white !important;}

 md-input-container { margin: 5px auto; }
 md-input-container .md-char-counter, md-input-container .md-input-message-animation { text-align: right; }
.alert{ padding: 8px 15px;     max-width: 499px;}
.alert p{ margin-bottom: 0; padding-bottom: 0; font-size: 13px; }
.alert.alert-danger p{color: #d21d1a;}
.alert.alert-danger md-icon{color: #d21d1a;}
.alert.alert-success p{color: #008000;;}
.alert.alert-success md-icon{color: #008000;}

.ContactMap ng-map { height: 330px; }
.map-icon{color: #01abff;  font-size: 51px;}
.steptopBx md-radio-button {    display: inline-block;    margin-right: 10px;}
hr {
    margin-top: 15px;
    margin-bottom: 0px;
}

.elipssis{
    display: inline-block;
    width: 106px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.userBx md-menu button md-icon{    float: right;  margin-top: 7px;}

.map-modal ng-map { height: 200px; border: 1px #00aeff solid; margin-bottom: 15px; }
.padding-l { padding-left: 0 }
.padding-r { padding-right: 0 }

.reating md-icon { color: #ffd203; }
.profileNav p{ padding-bottom: 0 }

md-tooltip .md-content { max-width: 300px; height: auto !important;  
    line-height: 19px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
    text-align: left !important;
      white-space: normal; 
       }
@media(min-width:768px)
{
  .nav-btn{ display:none }
}

@media(max-width: 767px)
{
  .loginBtnBx {  margin: 4px 0 0;}
}

@media(max-width:479px)
{
  header div[class*='col-sm']
  {
    padding: 0 5px;
  }
}
