<section class="listingBanner">
    <div class="listingtrans">
        <div class="listingFrm">
            <div ng-include="template.search"></div>
        </div>
    </div>
</section>
<section class="midcontainerBg" ng-init="zn_SearchedResults()">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-Section">
                    <div class="updateHd">Update Search</div>
                    <div class="seekingHd">Seeking</div>
                    <div class="seekingList">
                        <ul>
                            <li ng-repeat="s in seekingItems">
                                <md-checkbox  aria-label="Checkbox{{$index}}" 
                                    ng-checked="exists(s.value, seeking)" 
                                    ng-click="toggle(s.value, seeking);seekingChange(s.value)" >{{s.text}}</md-checkbox>
                            </li>
                            <!-- <li>
                                <md-checkbox  aria-label="CheckboxSeekingBoth" 
                                    ng-checked="isChecked(seeking, seekingItems)" 
                                    ng-click="toggleAll(seeking, seekingItems);seekingChange('both')" >Both</md-checkbox>
                            </li> -->
                          
                        </ul>
                    </div>
                    <div class="seekingHd">Massage Style</div>
                    <div class="seekingList">
                        <ul>
                            <li ng-repeat="m in massageStyleItems">
                                <md-checkbox  aria-label="Checkbox{{$index}}" 
                                    ng-checked="exists(m.value, massageStyle)" 
                                    ng-click="toggle(m.value, massageStyle)" >{{m.text}}</md-checkbox>
                            </li>
                            <li>
                                <md-checkbox  aria-label="CheckboxSeekingBoth" 
                                    ng-checked="isChecked(massageStyle, massageStyleItems)" 
                                    ng-click="toggleAll(massageStyle, massageStyleItems)" >Both</md-checkbox>
                            </li>
                          
                        </ul>
                    </div>
                    <div class="seekingHd">Level of Experience</div>
                    <div class="seekingList">
                        <ul>
                            <li ng-repeat="l in levelItems">
                                <md-checkbox  aria-label="Checkbox{{$index}}" 
                                    ng-checked="exists(l.value, level)" 
                                    ng-click="toggle(l.value, level)" >{{l.text}}</md-checkbox>
                            </li>
                           
                        </ul>
                    </div>
                    <div class="seekingHd">Gender</div>
                    <div class="seekingList">
                        <ul>
                            <li ng-repeat="g in genderItems">
                                <md-checkbox  aria-label="Checkbox{{$index}}" 
                                    ng-checked="exists(g.value, gender)" 
                                    ng-click="toggle(g.value, gender)" >{{g.text}}</md-checkbox>
                            </li>
                            <li>
                                <md-checkbox  aria-label="CheckboxSeekingBoth" 
                                    ng-checked="isChecked(gender, genderItems)" 
                                    ng-click="toggleAll(gender, genderItems)" >Both</md-checkbox>
                            </li>
                           
                        </ul>
                    </div>
                    <div class="seekingHd">Age Range</div>
                    <div class="rengesliderBx">
                        <article>
                            <div class="rangevalue~ clearfix">
                                <rzslider rz-slider-model="slider.min" rz-slider-high="slider.max" rz-slider-options="slider.options"></rzslider>
                              
                            </div>
                          
                        </article>
                    </div>
                    <div class="seekingHd">Body Type</div>
                    <div class="seekingList">
                        <ul>
                            <li ng-repeat="type in bodyTypeItems">
                                <md-checkbox  aria-label="Checkbox{{$index}}" ng-checked="exists(type.value, bodytype)" ng-click="toggle(type.value, bodytype)">{{type.text}}</md-checkbox>
                            </li>
                            <li>
                                <md-checkbox  aria-label="Checkbox all" ng-checked="isChecked(bodytype, bodyTypeItems)" ng-click="toggleAll(bodytype, bodyTypeItems)">All</md-checkbox>
                            </li>
                           
                        </ul>
                    </div>
                    <div class="updatebtnBx">
                        <md-button ng-disabled="znUsers.length==0 || !znUsers" class="md-raised md-primary viewBtn white" ng-click="updateSearch(searchData)" aria-label="Update Search">Update Search</md-button>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="loading" ng-show="loading">
                    <md-progress-circular class="md-primary" md-diameter="30"></md-progress-circular>
                    <span>Loading..</span>
                </div>
            
                <div class="listingHd" ng-show="znUsers.length > 0">{{paging.offset + 1}} - {{paging.offset + paging.current || '-'}} of {{paging.count || '-'}} Free Massage Exchange & Paid Professional Massage</div>
                <div class="listing" ng-if="znUsers.length > 0">
                    <ul>
                        <!--class="greenBdr"-->
                        <li  ng-repeat="user in znUsers track by $index" 
                            ng-init="
                            user.blocked= checkedBlocedUser(user.userId, 'blocked'); 
                            user.favUser= checkedBlocedUser(user.userId, 'fav'); user.isLodingFav=false;
                            user.isLodingBlock=false; 
                            user.writeReviewLoading=false" 
                            ng-class="{'greenBdr':user.online == 1, 'redBdr': user.blocked }">
                        
                            <div class="listingTop" 
                                ng-class="(user.professionalType == 'both' || user.professionalType == 'paid') ? 'lightvolateBg' : (user.lastActive < 30 ? 'lightylbg' : 'whiteBg')">
                                <div class="profpaidBx">
                                    <a ng-if="user.MemberStatus" class="newMemBg">{{user.MemberStatus}}</a>
                                    <a ng-if="user.online == 1" class="greenBg">Online</a>
                                    <a class="vollatBg"  
                                        ng-if="user.professionalType == 'both' || user.professionalType == 'paid'">
                                    Paid Professional Massage
                                    </a>
                                  
                                    <a class="yellowBg" ng-hide="user.lastActive > 30">Updated Member</a>
                                </div>
                                <div class="listingTop-Left" >
                                    <div class="listingImgBx">
                                        <div class="listingImg" ng-click="userProfileView(user.userId)">  
                                            <img ng-src="{{user.profilePic != '' && user.profilePic != null ? user.profilePicUrl : 'images/'+user.gender+'.png'}}">
                                        </div>
                                        <strong ng-click="userProfileView(user.userId)">
                                        <span>
                                        {{user.fullName != undefined ? user.fullName : user.username}}
                                        </span>
                                        </strong>
                                        <span>
                                          
                                            <small class="material-icons personIcon" 
                                            ng-class="{'pinkClr':user.gender === 'female', 'blueClr':user.gender === 'male'}">person</small>

                                            {{calculateAge(user.dobOne) +' |'}}
                                            
                                            <small 
                                                class="material-icons personIcon">room</small>
                                            {{user.city+", "}} {{user.state+", "}} {{user.country}} I 
                                            {{user.distance | number : 2}} Miles Away
                                        </span>
                                        <!-- favUser -->
                                        <span ng-if="isUserLogin" >
                                       <a ng-click="setFav(user.userId,$index,znUsers, user.email)"> 
                                        <x ng-if="user.isLodingFav==false">
                                            <x ng-if="user.favUser==false">Add to Favorite </x>
                                             <x ng-if="user.favUser==true">Remove to Favorite </x>
                                        </x>
                                            <x ng-if="user.isLodingFav==true" class="loading-sm">
                                            <md-progress-circular class="md-primary" md-diameter="15"></md-progress-circular>
                                            Processing
                                            </x>
                                        </a>| 
                                            <!--if user conversation is null-->
                                            <a 
                                                uib-popover-template="'writeWriview.html'"
                                                popover-trigger="'outsideClick'"
                                                popover-is-open="user.openPopover"
                                                popover-placement="top" ng-click="writeReview(user.userId, $index,znUsers)">Write a Review</a>
                                            <!--if user conversation is null-->

                                          <!--   <a ng-if="user.conversation"
                                                ng-href="{{userDashboard.writeReviews.href+'/' +user.userId}}">
                                                Write a Review
                                            </a> -->
                                            |
                                            <!--review pinned--> 
                                            <a class="greyClr" 
                                                ng-class="{'greyClr':user.reviewsPenned==0}" 
                                                ng-href="{{user.reviewsPenned>0?userDashboard.reviewspenned.href+'/' +user.userId : null}}"> 
                                            Review Penned<xx ng-if="user.reviewsPenned">({{user.reviewsPenned}})</xx>
                                            </a> | 
                                            <!--review received-->
                                            <a  ng-class="{'greyClr':user.reviewReceivedCount==0}"
                                                ng-href="{{user.reviewReceivedCount>0?userDashboard.reviewsreceived.href+'/' +user.userId : null}}" >Reviews Received  <span ng-if="user.reviewReceivedCount > 0">
                                            ({{user.reviewReceivedCount}})</span></a>
                                        </span>

                                        <span ng-show="user.therapeuticMassageOne != undefined && user.therapeuticMassageOne != null && user.therapeuticMassageOne != ''"><span>Therapeutic</span> : &nbsp; Seeks - 
                                        <small class="blueClr">{{user.seeking_male?'M':''}}</small>
                                        <small class="pinkClr">{{user.seeking_female?'F':''}}</small>
                                        <i class="toltip">?
                                        <span ng-if="user.seeking_male != '' && user.seeking_female !=''">Both</span>
                                        <span ng-if="user.seeking_male != '' && user.seeking_female ==''">Male</span>
                                        <span ng-if="user.seeking_male == '' && user.seeking_female !=''">Female</span>
                                        </i></span>
                                        <span ng-show="user.sensualMassageOne != undefined && user.sensualMassageOne != null && user.sensualMassageOne != ''"><span>Sensual</span> : &nbsp; Seeks - 
                                        <small class="blueClr">{{user.seeking_male?'M':''}}</small>
                                        <small class="pinkClr">{{user.seeking_female?'F':''}}</small>
                                        <i class="toltip">?
                                        <span ng-if="user.seeking_male != '' && user.seeking_female !=''">Both</span>
                                        <span ng-if="user.seeking_male != '' && user.seeking_female ==''">Male</span>
                                        <span ng-if="user.seeking_male == '' && user.seeking_female !=''">Female</span>
                                        </i></span>
                                    </div>
                                    <div class="listingPara" ng-bind="user.aboutme"></div>
                                    <div class="listingTop-Right" ng-if="user.lastLoggedin">
                                        <span>Active: {{getLastActive(user.lastLoggedin)}}</span>
                                        <i ng-if="user.availableTime != '0000-00-00 00:00:00'"><img src="images/massageTag.png"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="listingBot clearfix">
                                <div class="listingBot-L">
                                    <md-button 
                                        ng-href="{{user.publicPhotoCount>0?userNavbar.profile.submenu.photogallery.href +'/public/' +user.userId : null}}">
                                        <md-icon>camera_alt</md-icon>
                                        Public Photos 
                                        <span class="blueClr" ng-if="user.publicPhotoCount > 0">({{user.publicPhotoCount}})</span>
                                    </md-button>
                                    <!--if uder not login-->
                                    <span ng-if="!isUserLogin">
                                        <md-button 
                                            uib-popover-template="'needLogin.html'"
                                            popover-trigger="'outsideClick'"
                                            popover-placement="top"
                                            >
                                            <md-icon>collections</md-icon>
                                            Private Photos 
                                            <span class="blueClr" ng-if="user.privatePhotoCount > 0">({{user.privatePhotoCount}})</span>
                                        </md-button>
                                        <md-button   
                                            uib-popover-template="'needLogin.html'"
                                            popover-trigger="'outsideClick'"
                                            popover-placement="top">Request Photo Key <span class="toltip2">?<i>Photo Key</i></span>
                                        </md-button>
                                        <md-button
                                            uib-popover-template="'needLogin.html'"
                                            popover-trigger="'outsideClick'"
                                            popover-placement="top">
                                            <md-icon> do_not_disturb_on</md-icon>
                                            Block
                                        </md-button>
                                    </span>
                                    <!--if uder login-->
                                    <span ng-if="isUserLogin">
                                        <md-button  ng-href="{{user.publicPhotoCount>0?userNavbar.profile.submenu.photogallery.href +'/private/' +user.userId : null}}">
                                            <md-icon>collections</md-icon>
                                            Private Photos 
                                            <span class="blueClr"  ng-if="user.privatePhotoCount > 0">({{user.privatePhotoCount}})</span>
                                        </md-button>
                                        <md-button ng-click="sendPhotoKeySearch($event, user.userId)" ng-disabled="user.privatePhotoCount == 0">
                                            Request Photo Key 
                                            <span class="toltip2">?<i>Photo Key</i></span>
                                        </md-button>


                                    <md-button ng-click="setBlocked(user.userId, $index, znUsers)" aria-label="block">
                                       <span ng-if="user.isLodingBlock==false">

                                        <md-icon> do_not_disturb_on</md-icon>
                                        <span ng-if="user.blocked"> Unblocked </span>
                                        <span ng-if="!user.blocked"> Block </span>
                                        </span>
                                        <span ng-if="user.isLodingBlock==true" class="loading-sm">
                                         <md-progress-circular class="md-primary" md-diameter="15"></md-progress-circular>
                                         Processing
                                        </span>
                                    </md-button>
                                  
                                  
                                    </span>
                                </div>
                                <!--if user not login -->
                                <div class="listingBot-R" ng-if="!isUserLogin">
                                    <md-button 
                                        uib-popover-template="'needLogin.html'"
                                        popover-trigger="'outsideClick'"
                                        popover-placement="top"
                                        class="md-raised md-primary disabled viewBtn white" >
                                        View Conversation
                                    </md-button>
                                    <md-button 
                                        uib-popover-template="'needLogin.html'"
                                        popover-trigger="'outsideClick'"
                                        popover-placement="left"
                                        class="md-raised md-primary disabled viewBtn white" >Email </md-button>
                                </div>
                                <!--if user login-->
                                <div class="listingBot-R" ng-if="isUserLogin">
                                    <md-button class="md-raised md-primary viewBtn white" 
                                        ng-click="userProfileView(user.userId)">
                                        View Conversation
                                    </md-button>
                                    <md-button 
                                        ng-click="camposemail($event,user.userId ,user.username)"  
                                        class="md-raised md-primary viewBtn white" >Email </md-button>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- <cl-paging flex cl-pages="paging.pages" cl-steps="paging.steps" cl-page-changed="paging.onPageChanged()" cl-align="start start" cl-current-page="paging.current" ng-if="paging.total > paging.limit"></cl-paging> -->
                    <ul uib-pagination  ng-if="paging.count > paging.limit" previous-text="Prev" force-ellipses="forceEllipses" max-size="maxSize" items-per-page="paging.limit" total-items="paging.count" ng-model="paging.page" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="pageChanged()"></ul>
                </div>
            
            <div ng-if="znUsers.length < 1" class='alert alert-info width_100'>No Match Found in your Search Criteria.</div>
        </div>
    </div>
    </div>
</section>


<!--need to be login template -->
<script type="text/ng-template" id="needLogin.html">
    <div class="needlogin text-center">
          <strong> You need to login or signup </strong>
          <md-button class="login-btn" ng-click="openPopover=!openPopover;login();">  <md-icon> account_circle</md-icon> Login </md-button> 
          <md-button  class="signup-btn" ng-click="openPopover=!openPopover;signup();">  <md-icon> account_box</md-icon> Signup    </md-button> 
                
          </div>
               
        </div>
          </div>
    </div>
     
</script>
<!--need to be login template -->
<script type="text/ng-template" id="writeWriview.html">
    <div class="needlogin text-center">
      
              <div ng-if="!user.writeReviewLoading">
               <md-progress-circular class="md-primary" md-diameter="30"></md-progress-circular>
               <span>Processing..</span>
            </div>
        <small ng-if="user.writeReviewLoading">
             <p > You must recevied (and read) at least one e-mail form  within the past 30days to write a review</p>
             <md-button class="login-btn btn-sm" ng-click="user.openPopover=false;">  Close</md-button> 
        </small>        
          </div>
               
        </div>
          </div>
    </div>
     
</script>