<!--banner-section-->
<section class="bannerBg">
  <img src="images/banner-img.jpg" alt="banner home page ">
  <div class="bannertrans">
    <div class="massageexchange">
      <span>FREE <strong>Massage Exchange</strong></span>
      <small>Paid Professional Massage for <span ng-include="template.priceview"></span></small>
    </div>
    <div class="bannerBot" ng-include="template.search">
        <!--search template -->
    </div>
  </div>
</section>


<!--welcome section-->
<section class="welcomeBx">
  <div class="container">
    <div class="welcontent">
      <h1 class="welhd">Welcome to zenbrisa</h1>
      <p>
        Zenbrisa is a global membership network devoted to the world of massage. Whether you are looking for a massage partner to exchange a massage for free or looking for a reasonably priced paid massage, you will be able to find it all at Zenbrisa.com. We are dedicated to building the most comprehensive global massage network. It's all about massage!
      </p>
      <md-button class="md-raised viewmore white" ng-href="{{navabar.aboutUs.url}}">View More</md-button>
    </div>
  </div>
</section>

<!--how it work section-->
<div ng-include="template.howItWork"></div>
<div ng-include="template.testimonial"></div>
