<div class="mainCont">
<!--user profile header-->
<section ng-include="template.userProfileHeader"></section>

<section class="profilepage-Bot">
  <div class="container">
    <div class="row clearfix">
      
    <!--userside navabar-->
      <div class="col-sm-3">
        <div class="profHd clearfix">Profile <span><img src="/images/profile-arrow.png"></span></div>
        
        <span ng-include="template.usersideNavbar"> Loading..</span>
        </div>
      <!--end user sidenavbar-->

      <div class="col-sm-9">
          <!--review list data-->
        <div class="row blockList">
          <div class="publicHd">Write A Review</div>
            <div class="loading" ng-show="loading">
               <md-progress-circular class="md-primary" md-diameter="30"></md-progress-circular>
               <span>Loading..</span>
            </div>

            <div>
                 
           <div class="reviewList">
            <form  class="frmBx" name="writeReview" novalidate >

            <md-input-container class="md-block">
            <label>Title</label>
            <input  name="email" 
                    required 
                    type="text"
                    ng-model="user.email" 
                    ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([A-Za-z0-9\-])+\.)+([a-zA-Z]{2,3})+$/" 
                    >
            <!--error template-->
            <div ng-messages="forget.email.$error">
            <div ng-message="required">Email is required.</div>
            <div ng-message="pattern">Enter valid email address</div>
            </div>
            </md-input-container>


            </form>
          </div>

        <!--end reviewe pned list-->
           </div>

       </div> <!--end row-->
      </div> <!--end coloumn-->

    </div>
  </div>
</section>

</div>	 
