<section class="mylocatBg" ng-init="getSavedLocations()">
  <div class="container">
    <div class="mylocationHd">My Locations</div>
    <div class="mylocatInn">
      <div class="specifyHd">
        <span>Specify Your Home & Travel cities, and Common Search Locations.</span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standar mmy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="addcountryCity" ng-controller="userDashboardSearch">
        <a href="">Add Country</a>
        <a ng-click="addLocation('addCity')">Add City</a>
      </div>
      <div class="row">

<div class="col-md-6 col-sm-6" ng-repeat="myLocation in myLocations track by $index" 
          ng-init="myLocation.travelEnd=myLocation.travelEnd?myLocation.travelEnd:''; myLocation.travelStart=myLocation.travelStart?myLocation.travelStart:''">


          <div class="locatHd">
            <strong>{{myLocation.locationNames}}</strong>
            <span><span ng-hide="myLocation.latitude == 0">({{myLocation.latitude}}, {{myLocation.longitude}})</span><span ng-hide="myLocation.latitude != 0">&nbsp;</span></span>
            
          </div>
          <div class="locatTabMain">


           <div class="locatTab">

        <ul class="clearfix">
        <li style="width:30%">
           <md-radio-group ng-model="myLocation.primaryLocation">
           <md-radio-button  ng-attr-id="{{ myLocation.locationType == 'country' ? 'locationPrimaryCountry' : myLocation.locationType }}" 
                      ng-click="locationPrimaryChange(myLocation.id, myLocation.locationPrimary, $event)"
                      class="md-primary" 
                      value="primary">Primary
            </md-radio-button>

           </md-radio-group>
           </li>

           <li style="width:70%">
            <md-radio-group ng-model="myLocation.locationCategory">
            <ul>
                  <li>
                      <md-radio-button  id="locationCategoryHome" 
                      class="md-primary" value="home" ng-click="locationCategoryChange(myLocation.id, myLocation.locationCategory, $event)">Home</md-radio-button>
                  </li>
                  <li>
                      <md-radio-button 
                      value="travel" 
                      id="locationCategoryTravel" 
                      value="travel"  
                      class="md-primary" 
                      ng-click="locationCategoryChange(myLocation.id, myLocation.locationCategory, $event)">Travel
                      </md-radio-button>
                      </li>
                  </ul>
                  </md-radio-group>  
                  </li>
                </ul>
            </div>
             </md-radio-group>
            <div class="srchAreaBx">
              <div class="srchareaFrmbx">
                <md-input-container>
                  <label>Search Area</label>
                  
                  <md-select ng-model="myLocation.searchLocation" class="md-no-underline">
                  <md-option value="" >Search Area</md-option>
                    <md-option ng-repeat="miles in commonMilesArray" value="{{miles.hideValue}}" >{{miles.displayValue}}</md-option>
                    <!-- ng-selected="(typeof searchLocation != undefined && searchLocation != null && searchLocation !='' && searchLocation == miles.hideValue) ? true : false " -->
                  </md-select>
                </md-input-container>

              </div>
              
              <div class="srchareaFrmbx" ng-if="myLocation.locationCategory == 'travel'">
                <!-- <label>Date</label> -->
                <div class="clearfix">
                  <div class="dateBx-L">
                    <md-input-container ng-init="open=false">
                    <label>Start Date</label>
                    <!-- <input type="text" name="name" ng-model="user.startDate" class=" calIcon"> -->
                   
                    <input type="text" class="form-control calIcon" uib-datepicker-popup="yyyy-MM-dd" ng-model="myLocation.travelStart" is-open="open" min-date="-1"  min="0" ng-required="true" close-text="Close" ng-click="open = !open;" />


                    <!-- <pre><em>{{myLocation.travelStart | date:'yyyy-MM-dd' }}</em></pre> -->
                    <!-- <div uib-datepicker ng-model="myLocation.travelStart" class="well well-sm"></div> -->


                    <!-- <md-datepicker ng-model="myLocation.travelStart" md-placeholder="Enter date" class="" value="{{myLocation.travelStart}}"></md-datepicker> -->
                    </md-input-container>
                  </div>
                  <div class="dateBx-M"> - </div>
                  <div class="dateBx-R">
                    <md-input-container ng-init="open2=false">
                    <label>End Date</label>
                    <!-- <input type="text" name="name" ng-model="user.endDate" class="calIcon"> -->
                    <input type="text" class="form-control calIcon" uib-datepicker-popup="yyyy-MM-dd" ng-model="myLocation.travelEnd" is-open="open2" min-date="0" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-click="open2 = !open2;" />

                    <!-- <md-datepicker ng-model="myLocation.travelEnd" 
                     md-placeholder="Enter date" ></md-datepicker> -->
                    </md-input-container>
                  </div>
                </div>
              </div>
              <div class="saveDet clearfix">
                <md-button class="md-raised md-primary save-Btn" style="margin-left:0 !important;" ng-click="mylocationsSave($index)" aria-label="Save Location">Save</md-button>
                <md-button class="md-raised md-danger Delete-Btn" style="margin-left:0 !important;" aria-label="Delete Location" ng-click="deleteLocation(myLocation.id, myLocation.locationNames, myLocation.primaryLocation)">Delete</md-button>
              </div>
            </div>

            <div class="srchAreaBx" style="display:none;">
              <div class="srchareaFrmbx">
                <md-input-container>
                <label>Search area2</label>
                  <md-select ng-model="weapon2" class="md-no-underline">
                    <md-option value="axe">01</md-option>
                    <md-option value="sword">02</md-option>
                    <md-option value="wand">03</md-option>
                    <md-option value="pen">04</md-option>
                  </md-select>
              </div>
              
              <div class="srchareaFrmbx">
                <div class="clearfix">
                  <div class="dateBx-L">
                    <md-input-container>
                    <label>Start Date</label>
                    <input type="text" name="name" ng-model="user.startDate" class="calIcon">
                    </md-input-container>
                  </div>
                  <div class="dateBx-M"> - </div>
                  <div class="dateBx-R">
                    <md-input-container>
                    <label>End Date</label>
                    <input type="text" name="name" ng-model="user.EndDate" class="calIcon">
                    </md-input-container>
                  </div>
                </div>
              </div>
              <div class="saveDet clearfix">
                <md-button class="md-raised md-primary save-Btn" style="margin-left:0 !important;">Save</md-button>
                <md-button class="md-raised md-danger Delete-Btn" style="margin-left:0 !important;">Delete</md-button>
              </div>
            </div>

            <div class="srchAreaBx" style="display:none;">
              <div class="srchareaFrmbx">
                <md-input-container>
                <label>Search Area3</label>
                  <md-select ng-model="weapon3" class="md-no-underline">
                    <md-option value="axe">01</md-option>
                    <md-option value="sword">02</md-option>
                    <md-option value="wand">03</md-option>
                    <md-option value="pen">04</md-option>
                  </md-select>
              </div>
              
              <div class="srchareaFrmbx">
                <div class="clearfix">
                  <div class="dateBx-L">
                    <md-input-container>
                    <label>Start Date</label>
                    <input type="text" name="name" ng-model="user.startDate" class="calIcon">
                    </md-input-container>
                  </div>
                  <div class="dateBx-M"> - </div>
                  <div class="dateBx-R">
                    <md-input-container>
                    <label>End Date</label>
                    <input type="text" name="name" ng-model="user.EndDate" class=" calIcon">
                    </md-input-container>
                  </div>
                </div>
              </div>
              <div class="saveDet clearfix">
                <md-button class="md-raised md-primary save-Btn" style="margin-left:0 !important;">Save</md-button>
                <md-button class="md-raised md-danger Delete-Btn" style="margin-left:0 !important;">Delete</md-button>
              </div>
            </div>

          </div>
        </div>
      















        



      </div>
    </div>
  </div>
</section>