<section class="mylocatBg" ng-init="getSavedLocations()">
  <div class="container">
    <div class="mylocationHd">My Locations</div>
    <div class="mylocatInn">
      <div class="specifyHd">
        <span>SPECIFY YOUR HOME AND TRAVEL CITIES, AND COMMON SEARCH LOCATIONS.</span>
       
      </div>
      <div class="addcountryCity" ng-controller="userDashboardSearch">
        <a ng-click="addLocation('addCountry')">Add Country</a>
        <a ng-click="addLocation('addCity')">Add City</a>
      </div>



<div class="row posRelative">
       <div class="loading" ng-hide="myLocations">
               <md-progress-circular class="md-primary" md-diameter="30"></md-progress-circular>
               <span>Loading..</span>
            </div>

<div class="col-md-6 col-sm-6" ng-repeat="myLocation in myLocations track by $index" 
          ng-init="myLocation.travelEnd=myLocation.travelEnd?myLocation.travelEnd:''; myLocation.travelStart=myLocation.travelStart?myLocation.travelStart:''">


          <div class="locatHd">
            <strong>{{myLocation.locationNames}}</strong>
            <span><span ng-hide="myLocation.latitude == 0">({{myLocation.latitude}}, {{myLocation.longitude}})</span><span ng-hide="myLocation.latitude != 0">&nbsp;</span></span>
            
          </div>

          <div class="locatTabMain">


         <div class="locatTab">
         <!--primary location-->
        <ul class="clearfix">
        <li style="width:30%">

           <md-radio-group ng-model="myLocation.primaryLocation">
           <md-radio-button  ng-attr-id="{{ myLocation.locationType == 'country' ? 'locationPrimaryCountry' : myLocation.locationType }}" 
                      ng-click="locationPrimaryChange(myLocation.id, myLocation.locationPrimary, $event)"
                      class="md-primary" 
                      value="primary">Primary
            </md-radio-button>
           </md-radio-group>
           </li>

           <li style="width:70%">
            <md-radio-group ng-model="myLocation.locationCategory">
            <ul>
                  <li>
                      <md-radio-button  id="locationCategoryHome" 
                      class="md-primary" value="home" ng-click="locationCategoryChange(myLocation.id, myLocation.locationCategory, $event)">Home</md-radio-button>
                  </li>
                  <li>
                      <md-radio-button 
                      value="travel" 
                      id="locationCategoryTravel" 
                      value="travel"  
                      class="md-primary" 
                      ng-click="locationCategoryChange(myLocation.id, myLocation.locationCategory, $event)">Travel
                      </md-radio-button>
                      </li>
                  </ul>
                  </md-radio-group>  
                  </li>
                </ul>

            </div>
   
            <div class="srchAreaBx">
              <div class="srchareaFrmbx">
                <md-input-container>
                  <label>Search Area</label>
                  
                  <md-select placeholder="Search Area" ng-model="myLocation.searchLocation" class="md-no-underline">
                
                    <md-option ng-repeat="miles in commonMilesArray" value="{{miles.hideValue}}" >{{miles.displayValue}}</md-option>
                    
                  </md-select>
                </md-input-container>

              </div>
              
              <div class="srchareaFrmbx" ng-if="myLocation.locationCategory == 'travel'">
              
                <div class="clearfix">
                  <div class="dateBx-L">
                     <label>Start Date</label>
                                      <md-input-container ng-click="isOpen1 = true" class="sm">
                  
                 <!--   
                    <input type="text" class="form-control calIcon" uib-datepicker-popup="yyyy-MM-dd" ng-model="myLocation.travelEnd" is-open="open2" min-date="0" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-click="open2 = !open2;" /> -->

                    <md-datepicker ng-model="myLocation.travelStart"  aria-label="end" 
                     md-placeholder="Enter date" md-is-open="isOpen1"  class="datePicker"></md-datepicker>
                    </md-input-container>

                  <!--  
                    <input type="text" class="form-control calIcon" uib-datepicker-popup="yyyy-MM-dd" ng-model="myLocation.travelStart" is-open="open" min-date="-1"  min="0" ng-required="true" close-text="Close" ng-click="open = !open;" />
 -->
             
                    </md-input-container>
                  </div>
                 <!--  <div class="dateBx-M"> - </div> -->
                  <div class="dateBx-R">
                    <label>End Date</label>
                    <md-input-container ng-click="isOpen = true" class="sm">
                  
                 <!--   
                    <input type="text" class="form-control calIcon" uib-datepicker-popup="yyyy-MM-dd" ng-model="myLocation.travelEnd" is-open="open2" min-date="0" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-click="open2 = !open2;" /> -->

                    <md-datepicker ng-model="myLocation.travelEnd" aria-label="stert"
                     md-placeholder="Enter date" md-is-open="isOpen" class="datePicker" ></md-datepicker>
                    </md-input-container>
                  </div>
                </div>
              </div>
             
            </div>

             <div class="saveDet clearfix">
                <md-button class="md-raised md-primary save-Btn" 
                style="margin-left:0 !important;" 
                ng-click="mylocationsSave($index)" 
                aria-label="Save Location">Save
                </md-button>

                <md-button class="md-raised md-danger Delete-Btn" 
                style="margin-left:0 !important;" 
                aria-label="Delete Location" 
                ng-click="deleteLocation(myLocation.id, myLocation.locationNames, myLocation.primaryLocation)">
                Delete</md-button>
              </div>
        </div>
      















        



      </div>
    </div>
  </div>
</section>