<div class="mainCont">
<!--user profile header-->
<section ng-include="template.userProfileHeader" ></section>

<section class="profilepage-Bot">
  <div class="container">
    <div class="row clearfix">
      
    <!--userside navabar-->
      <div class="col-sm-3">
        <div class="profHd clearfix">Profile <span><img src="/images/profile-arrow.png"></span></div>
        
        <span ng-include="template.usersideNavbar"> Loading..</span>
        </div>
      <!--end user sidenavbar-->
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-5">
            <div class="profileInfoBx">
              <div class="profInfoHd">Personal Information</div>
              <div class="myProfList">
                <ul>
                  <li ng-if="userprofile.gender">Gender: <span> {{userprofile.gender}}</span></li>
                  <li ng-if="userprofile.country">Country:  
                      <span>{{userprofile.country}}</span>
                  </li>
                  <li ng-if="userprofile.state">
                      State: <span>{{userprofile.state}}</span>
                  </li>
                  
                  <li >City:  <span>{{userprofile.city}}</span></li>

                  <li ng-if="userprofile.dobOne">Age:  
                      <span>{{userprofile.age || userprofile.ageOne}}Y </span>
                  </li>
            
                  <li>
                    Seeking to <br>exchange with:  
                    <span class="pinkClr" 
                    ng-class="{'pinkClr':userprofile.seeking_female,'blueClr':userprofile.seeking_male }"> 
                      {{userprofile.seeking_both?'MF':''}} 
                      <span ng-if="!userprofile.seeking_both">
                      {{userprofile.seeking_male?'M':'' || userprofile.seeking_female?'F':''}}
                      </span>

                    <i class="tooltipBx"  
                      uib-popover="{{userprofile.seeking_both?'Male-Female' :  userprofile.seeking_male?'Male': userprofile.seeking_female?'Female':'Not Specified'
                      }} " 
                      popover-trigger="'mouseenter'" 
                      popover-append-to-body="'true'"> ? </i>
                 
                  </span>

                  </li>
                  <li ng-if="userprofile.bodyTypeOne">Body Type:  
                    <span split-str="userprofile.bodyTypeOne" >

                      </span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-7"  >
       
              <div class="profmapBx" >
                     <ng-map 
                        ng-if="getmap(userprofile.latitude,userprofile.longitude)" zoom="11"
                          center="{{getmap(userprofile.latitude,userprofile.longitude)}}">
                        <marker position="{{getmap(userprofile.latitude,userprofile.longitude)}}"> </marker>
                    </ng-map>

                </div>
              <div class="bodyWork">
                <div class="profInfoHd">Personal Information</div>
                <div class="typeLabel">
                  <ul>
                    <li>Type of level: 
              <span>

            {{(userprofile.levelTypeOne=='professional_cmt' ? 'Professional/CMT' : userprofile.levelTypeOne=='aficionado'?'Aficionado or Amateur':userprofile.levelTypeOne ) || 'Not Specified'}}

              </span>
                  </li>
                    <li ng-if="userprofile.massageStylesOne">
                      Styles of massage that I prefer to give: 
                      <span ng-if="userprofile.massageStylesOne" split-str="userprofile.massageStylesOne" > </span>
                      <span ng-if="!userprofile.massageStylesOne">
                            'Not Specified'
                      </span>
                    </li>

                    <li>Types of Massage that interest me 
                   
                      <span>
                      {{userprofile.therapeuticMassageOne || userprofile.sensualMassageOne}}:
                     <small class="pinkClr" 
                    ng-class="{'pinkClr':userprofile.exchange=='female','blueClr':userprofile.exchange=='male'  }"> 
                    Seeks -
                        {{userprofile.seeking_both?'MF':''}}
                      <span ng-if="!userprofile.seeking_both">
                        {{userprofile.seeking_female?'F':''}} 
                        {{userprofile.seeking_male?'M':''}} 
                      </span>
                      <i class="tooltipBx"
                    uib-popover="{{userprofile.seeking_both?'Male-Female' :  userprofile.seeking_male?'Male': userprofile.seeking_female?'Female':'Not Specified'
                      }} " 
                      popover-trigger="'mouseenter'" 
                      popover-append-to-body="'true'"
                   
                      >?</i>

                      </small>
                        </span>
                    </li>

                  </ul>
                </div>
              </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>

</div>	 
