<div class="mainCont">
<!--user profile header-->
<section ng-include="template.userProfileHeader" ></section>
<section class="profilepage-Bot">
  <div class="container">
    <div class="row clearfix">
      
    <!--userside navabar-->
      <div class="col-sm-3">
        <div class="profHd clearfix">Profile <span><img src="/images/profile-arrow.png"></span></div>
        <span ng-include="template.usersideNavbar"> Loading..</span>
        </div>
      <!--end user sidenavbar-->
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-5">
            <div class="profileInfoBx">
              <div class="profInfoHd">Personal Information</div>
              <div class="myProfList">
                <ul>
                  <li ng-if="userprofile.gender">Gender: <span> {{userprofile.gender}}</span></li>
                  <li ng-if="userprofile.country">Country:  
                      <span>{{userprofile.country}}</span>
                  </li>
                  <li ng-if="userprofile.state">
                      State: <span>{{userprofile.state}}</span>
                  </li>
                  
                  <li >City:  <span>{{userprofile.city}}</span></li>

                  <li ng-if="userprofile.dobOne">Age:  
                      <span>{{calculateAge(userprofile.dobOne)}} </span>
                  </li>
            
                  <li>
                    Seeking to <br>exchange with:  
                    <span class="pinkClr" 
                    ng-class="{'pinkClr':userprofile.seeking_female,'blueClr':userprofile.seeking_male }"> 
                      {{userprofile.seeking_both?'M':''}}<span class="pinkClr" ng-if="userprofile.seeking_both==='both'">F</span>
                      
                      <span ng-if="!userprofile.seeking_both">
                      {{userprofile.seeking_male?'M':'' || userprofile.seeking_female?'F':''}}
                      </span>

                    <i class="tooltipBx"  
                      uib-popover="M=Male, F=Female, MF=Male & Female" 
                      popover-trigger="'mouseenter'" 
                      popover-append-to-body="'true'"> ? </i>
                 
                  </span>

                  </li>
                  <li ng-if="userprofile.bodyTypeOne">Body Type:  
                    <span split-str="userprofile.bodyTypeOne" >

                      </span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-7"  >
       
              <div class="profmapBx" >
                     <ng-map 
                        ng-if="getmap(userprofile.latitude,userprofile.longitude)" zoom="11"
                          center="{{getmap(userprofile.latitude,userprofile.longitude)}}">
                        <marker position="{{getmap(userprofile.latitude,userprofile.longitude)}}"> </marker>
                    </ng-map>

                </div>
              <div class="bodyWork">
                <div class="profInfoHd">Massage Information</div>
                <div class="typeLabel">
                  <ul>
                    <li>Type of level: 
              <span>

            {{(userprofile.levelTypeOne=='professional_cmt' ? 'Professional/CMT' : userprofile.levelTypeOne=='aficionado'?'Aficionado or Amateur':userprofile.levelTypeOne ) || 'Not Specified'}}

              </span>
                  </li>
                    <li ng-if="userprofile.massageStylesOne"  class="large-height">
                      Styles of massage that I prefer to give: 
                      <span ng-if="userprofile.massageStylesOne" split-str="userprofile.massageStylesOne" > </span>
                      <span ng-if="userprofile.massageStylesOne==','">
                            Not Specified
                      </span>
                    </li>

                    <li>Types of Massage that interest me:
                      <span>  
                             
                      <x ng-if="userprofile.therapeuticMassageOne" class="colorBlue">
                      <text>{{userprofile.therapeuticMassageOne }}</text> 

                    <small class="red"> 
                     <black>&nbsp;Seeks-</black>
                                      
                      <span ng-if="userprofile.seeking_both">
                        {{userprofile.seeking_male?'M':''}}
                        {{userprofile.seeking_female?'F':''}} 
                      </span>
                      
                       <span ng-if="userprofile.seeking_male" ng-class="{'hide':userprofile.seeking_both}">
                        {{userprofile.seeking_male?'M':''}}
                      </span>
                       <span ng-if="userprofile.seeking_female" ng-class="{'hide':userprofile.seeking_both}">
                        {{userprofile.seeking_female?'F':''}}
                      </span>

                      <i class="tooltipBx"  
                      uib-popover="M=Male, F=Female, MF=Male & Female" 
                      popover-trigger="'mouseenter'" 
                      popover-placement="left"
                      popover-append-to-body="'true'"> ? </i>

                      </small>
                      </x>
                     
                    <x ng-if="userprofile.sensualMassageOne" class="cyan" >
                    <text>{{userprofile.sensualMassageOne}}</text>
                     <small> 
                     <black>&nbsp;Seeks-</black>
                                      
                      <span ng-if="userprofile.seeking_both">
                        {{userprofile.seeking_male?'M':''}}
                        {{userprofile.seeking_female?'F':''}} 
                      </span>
                     
                       <span ng-if="userprofile.seeking_male" ng-class="{'hide':userprofile.seeking_both}">
                        {{userprofile.seeking_male?'M':''}}
                      </span>
                       <span ng-if="userprofile.seeking_female" ng-class="{'hide':userprofile.seeking_both}">
                        {{userprofile.seeking_female?'F':''}}
                      </span>

                      <i class="tooltipBx"  
                      uib-popover="M=Male, F=Female, MF=Male & Female" 
                      popover-trigger="'mouseenter'" 
                      popover-placement="left"
                      popover-append-to-body="'true'"> ? </i>

                      </small>                     
                      </x>
                       
                      </span>
                    </li>

                  </ul>
                </div>
              </div>
          </div>
        </div>

      <div class="clearfix"></div>
        <!--private node-->
        <div class="profileInfoBx privatenote" ng-if="isUserId && isUserLogin" >
        <form name="private" novalidate>
            <div class="profInfoHd" 
              ng-click="privateNote=!privateNote">Private Notes (Visible to me only!)
                  <md-button class="md-icon-button pull-right"> 
                        <md-icon>mode_edit</md-icon>
                   </button>
            </div>  
          <div class="privateNoteBody" ng-show="privateNote">
          <md-input-container class="md-block">
          <label>Message</label>
          <textarea 
              class="textArea"
              required
              name="message"
              ng-model="privateMessage" 
              rows="5" md-select-on-focus>
           </textarea>

            <div class="errors" ng-messages="private.message.$error">
                    <div ng-message="required">Message is required</div>
                </div>
          </md-input-container>

          <!--button action-->
          <div layout="row">
          <span flex>
          <md-button aria-label="submit" 
            ng-click="AddPrivateNote(privateMessage, private,isUserId)" 
            class="md-raised md-primary logpopup-Btn" type="submit"> 
          <span ng-if="!processing">Save</span>
          <span ng-if="processing">Processing..</span>

         </md-button>
         </span>
         <div flex>&nbsp;</div>
         <span  flex >
          <md-button aria-label="cancle"  ng-click="privateNote=false" 
          class="md-raised md-primary logpopup-Btn">  Cancel  </md-button>
          </span>
          </div>
          </div> <!--end body private note-->
          </form>
        </div>
    </div>
  </div>

      </div>
</section>

</div>	 
