<section class="profileTopBg" 
  ng-class="{'professional': userprofile.professionalType=='paid' || userprofile.professionalType=='both'}">
  
    <div class="loading" ng-show="loading">
               <md-progress-circular class="md-primary" md-diameter="30"></md-progress-circular>
               <span>Loading..</span>
            </div>
            
  <div class="container">
    <div class="profileTopBx" ng-class="{'exp': !headerExp}">
      <div class="profile-Img" style="background-image:url({{userprofile.profilePic || 'images/default-user-icon-profile.png'}})">
        <md-button ng-if="isUserLogin && !isUserId" class="md-button-icon md-fab md-mini profile-edit"><md-icon>mode_edit</md-icon>
        <input type="file" id="uploadImage" class="file">
        </md-button>
        <span ng-if="userprofile.avgRating" class="reating" reating reating-data="userprofile.avgRating" ng-show="headerExp"> </span>
      </div>
 
      <div class="prof-right-top">
        <strong>  {{ userprofile.fullName || userprofile.username || 'Welcome..'  }}   </strong>

        <small>
      
            <span>
              <i class="material-icons blueClr personIcon">person</i> 
            
              {{calculateAge(userprofile.dobOne)}} </span>
               <span >| {{userprofile.city}} ,{{userprofile.state}}, {{userprofile.country}}</span>
        </small>
        
        <div class="professMsg" >
             <a class="vollatBg" 
              ng-if="userprofile.professionalType=='paid' || userprofile.professionalType=='both'">
                Paid Professional Massage
              </a>
            <md-button ng-if="!isUserProfile" class="blueBg" ng-click="profileStep()">
            <md-icon>mode_edit</md-icon>
            Edit  Profile</md-button>
            <md-button class="md-icon-button btn-exp pull-right"  
            ng-click="userHeaderExp(headerExp)" aria-label="exp">
                    <md-icon ng-if="!headerExp">keyboard_arrow_down</md-icon>
                    <md-icon ng-if="headerExp"> keyboard_arrow_up</md-icon>
                  </md-button>
        </div>

      </div>
      <div class="prof-right-bot" ng-if="headerExp">
      <!--about-me-->
      <p ng-bind-html="userprofile.aboutme"></p>

        <!--subscriptionExpiredDate-->
        <!-- <span ng-if="userprofile.subscriptionExpiredDate" class="gray">
          <i class="material-icons">wifi</i> 
          Subscription Expires on : {{userprofile.subscriptionExpiredDate |date:'EEE MMM, dd, yyyy'}}   
        <x >Renew Subscription</x></span> -->
  <!-- 
      <span ng-if="userprofile.subscriptionExpiredDate" class="gray">
          <i class="material-icons">wifi</i> 
          Subscription (Coming Soon)
   </span> -->
      </div>
    </div>
  </div>
</section>