<md-dialog aria-label="step">
  <form ng-cloak class="frmBx" name="profileupdate" novalidate>


    <md-dialog-content >
    
     <md-button ng-if="step<=4"  class="md-icon-button closeIcon" ng-click="cancel()">
          <md-icon  aria-label="Close">close</md-icon>
          <md-tooltip>Skip (you can fill later)</md-tooltip>
    </md-button>

     <div ng-if="step==5" class="md-dialog-content">
           <div class="alert text-center alert-success" >
              <p> Your profile has been successfully updated</p>

           
           </div>

             <md-button  
            aria-label="finish"
            ng-click="cancel()"
            class="md-raised md-primary logpopup-Btn fr " 
            >   
            Finish
            </md-button>   
     </div>
    <div ng-if="step<=4">

  	 <!--step header-->
      <h2 class="LoginHd">Step {{step}}</h2>
      <div class="stepNumb">
        <ul class="clearfix">
          <li><span  ng-class="{'current':step==1,'active':step>=1}">1</span></li>
          <li><span  ng-class="{'current':step==2,'active':step>=2}">2</span></li>
          <li><span  ng-class="{'current':step==3,'active':step>=3}">3</span></li>
          <li><span  ng-class="{'current':step==4,'active':step>=4}">4</span></li>
        </ul>

      </div>
       <hr>
 	<!--end step header-->

      <div class="md-dialog-content">

  	 <div class="alert {{alert.type}}" ng-if="alert">
          <p>
          <md-icon ng-if="alert.type=='alert-danger'">error_outline</md-icon>
           {{alert.message}}
           </p>
    </div>
        <!-- {{user}} -->

      <!--step-1-->
<div class="stepFrmBx" ng-if="step==1" >
      
  <md-input-container >
            <label>Full name</label>
            <input  name="fullName" 
                    required 
                    type="text"
                    ng-model="user.fullName" 
                   >
            <div ng-messages="profileupdate.fullName.$error">
              <div ng-message="required">Full name is required.</div>
            </div>
</md-input-container>

          <div class="steplbl">My Gender*</div>
 <div class="steptopBx">
          <!--gender -->
			  <md-radio-group ng-model="user.gender" required>

				<md-radio-button value="male" class="md-primary">
				<md-icon class="blueClr">person</md-icon>Male
				</md-radio-button>

				<md-radio-button value="female" class="md-primary">
				<md-icon class="pinkClr">person</md-icon> Female
				</md-radio-button>

				<md-radio-button value="both" class="md-primary">
				<md-icon class="blueClr">person</md-icon> Both
				</md-radio-button>
				
			</md-radio-group>

          
</div>
          <div class="steplbl">Birth Date <span>(used to calculate age-birthdae not revealed)*</span></div>
          <div class="stepdobBx clearfix">


        <div class="Dob-L">
           <md-input-container>
              <md-select ng-model="user.dob.day" required name="day"
              			placeholder="Select Day" class="md-no-underline sechInp">
											<md-option value="1">01</md-option>
											<md-option value="2">02</md-option>
											<md-option value="3">03</md-option>
											<md-option value="4">04</md-option>
											<md-option value="5">05</md-option>
											<md-option value="6">06</md-option>
											<md-option value="7">07</md-option>
											<md-option value="8">08</md-option>
											<md-option value="9">09</md-option>
											<md-option value="10">10</md-option>
											<md-option value="11">11</md-option>
											<md-option value="12">12</md-option>
											<md-option value="13">13</md-option>
											<md-option value="14">14</md-option>
											<md-option value="15">15</md-option>
											<md-option value="16">16</md-option>
											<md-option value="17">17</md-option>
											<md-option value="18">18</md-option>
											<md-option value="19">19</md-option>
											<md-option value="20">20</md-option>
											<md-option value="21">21</md-option>
											<md-option value="22">22</md-option>
											<md-option value="23">23</md-option>
											<md-option value="24">24</md-option>
											<md-option value="25">25</md-option>
											<md-option value="26">26</md-option>
											<md-option value="27">27</md-option>
											<md-option value="28">28</md-option>
											<md-option value="29">29</md-option>
											<md-option value="30">30</md-option>
											<md-option value="31">31</md-option>
                </md-select>
              <div class="errors" ng-messages="profileupdate.day.$error">
                <div ng-message="required">Day is required</div>
              </div>
          </md-input-container>
      </div>
      <div class="Dob-L">
          <md-input-container>
              <md-select 
              ng-model="user.dob.month" name="month"
              placeholder="Select Month"  required
              class="md-no-underline sechInp">
                  <md-option value="1">January</md-option>
                  <md-option value="2">February</md-option>
                  <md-option value="3">March</md-option>
                  <md-option value="4">April</md-option>
                  <md-option value="5">May</md-option>
                  <md-option value="6">June</md-option>
                  <md-option value="7">July</md-option>
                  <md-option value="8">August</md-option>
                  <md-option value="9">September</md-option>
                  <md-option value="10">October</md-option>
                  <md-option value="11">November</md-option>
                  <md-option value="12">December</md-option>
              </md-select>
                <div class="errors" ng-messages="profileupdate.month.$error">
                    <div ng-message="required">Month is required</div>
                </div>
          </md-input-container>
      </div>
            <div class="Dob-R">
            <md-input-container>
              <md-select ng-model="user.dob.year" name="year" required placeholder="Select Year" class="md-no-underline sechInp">
                  <md-option ng-repeat="x in years" value="{{x}}">{{x}}</md-option>
                 
                </md-select>
                 <div class="errors" ng-messages="profileupdate.year.$error">
                  <div ng-message="required">Year is required</div>
                </div>
              </md-input-container>

            </div>
            </div>
      
        </div>
        <!--step2-->

        <div class="stepFrmBx" ng-if="step==2">

        <md-input-container>
            <label>Seeking to Exchange With</label>
            
            <md-select  ng-model="user.exchange" placeholder="Seeking to Exchange With" required name="exchange" class="md-no-underline">
                <md-option value="male">Male</md-option>
                <md-option value="female">Female</md-option>
                <md-option value="both">Both</md-option>
            </md-select>
            <div class="errors" ng-messages="profileupdate.exchange.$error">
                  <div ng-message="required">Seeking  exchange is required</div>
            </div>

        </md-input-container>

         <md-input-container>
            <label>Type of massage that interests me </label>
            
            <md-select  ng-model="user.interests" required name="interests" class="md-no-underline">
                <md-option value="therapeutic">Therapeutic</md-option>
                <md-option value="sensual">sensual</md-option>
                <md-option value="both">Both</md-option>
            </md-select>
            <div class="errors" ng-messages="profileupdate.interests.$error">
                  <div ng-message="required">Type of massage that interests is required</div>
            </div>

        </md-input-container>

         <md-input-container>
            <label>My Body Work Level</label>
            
            <md-select  ng-model="user.experience" required name="experience" class="md-no-underline">
                <md-option value="professional">Professional/CMT</md-option>
                <md-option value="student"> Student </md-option>
                <md-option value="aficionadoAmateur">Aficionado and/or Amateur</md-option>
            </md-select>
            <div class="errors" ng-messages="profileupdate.experience.$error">
                  <div ng-message="required">Body work level is required</div>
            </div>

        </md-input-container>

        </div>

        <!--step3-->
        <div class="stepFrmBx" ng-if="step==3">
         

          <md-input-container>
              <label>Full address</label>
              <input 
                type="text" 
                required 
                places-auto-complete 
                name="address" 
                placeholder="Enter location and select from the list below" 
                class="countryInp" 
                ng-model="user.address" 
                types="['geocode']" 
                ng-keyup="CheckFullAddress($event,user)"
                on-place-changed="placeChanged()">

              <div ng-messages="profileupdate.address.$error">
              <div ng-message="required">Full address is  required.</div>
              </div>
          </md-input-container>
          <!--map view-->
          <div class="map-modal" >
           <ng-map> </ng-map>
           </div>

          <div class="clearfix"></div> 

        </div>

        <!--step4-->
        <div class="stepFrmBx" ng-if="step==4">
         <md-input-container class="md-block">
          <label>Type of massage that I prefer to give</label>
          <textarea 
              name="message"
              ng-model="user.aboutme" 
              md-maxlength="300" rows="5" md-select-on-focus>
           </textarea>
         
          </md-input-container>
       
          <div class="optionalTxt">(Optional)</div>
        </div>


        <div class="clearfix nextback" ng-hide="step==5">
         <!--button step-->
         <md-button class="md-raised greyBg logpopup-Btn fl"
         	 ng-click="step=step-1" ng-disabled="step==1">
           Back
        </md-button>
         <!--next button-->

         <md-button  
            type="submit"
            aria-label="submit"
            ng-click="updateProfile(profileupdate,user)"
            class="md-raised md-primary logpopup-Btn fr pull-right" 
            >   
              <span ng-if="step<4">Next</span>
              <span ng-if="step==4">Finsh</span>

            </md-button> 

         </div>
      </div>

      </div>
    </md-dialog-content>

    
  </form>
</md-dialog>
