<section class="searchBg">
  <div class="srchtrans">
      <div class="container">
        <div class="row clearfix">
          <div class="col-sm-6">
            <div class="msgBg">
              <div class="msgNowHd">Massage Now!<sup>&trade;</sup></div>
              <div class="availablTxt clearfix">
                  <md-checkbox  aria-label="Checkbox 1">I am available till</md-checkbox>
                  <span><input type="text" name="time" class="TimeiNp" placeholder="0:00"></span>
              </div>
              <div class="srchformBx">
                <md-select ng-model="weapon" placeholder="- Select Your Country Code -" class="md-no-underline sechInp">
                  <md-option value="axe">+91</md-option>
                  <md-option value="sword">+92</md-option>
                  <md-option value="wand">+61</md-option>
                  <md-option value="pen">+62</md-option>
                </md-select>
              </div>
              <div class="srchformBx">
                <input type="text" name="mobilenumber" class="sechInp" placeholder="Enter Your Mobile Number">
              </div>
              <div class="srchsave">
                <md-button class="md-raised md-primary logpopup-Btn">Save</md-button>
                <md-button class="md-raised md-primary logpopup-Btn">Cancel</md-button>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="msgBg">

              <div class="msgNowHd">Search For Massages</div>

<md-tabs 
        class="md-accent" 
        md-selected="data.selectedIndex" 
        md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">

        <md-tab id="tab1">
        <md-tab-label>My Location</md-tab-label>
        <md-tab-body>
              <div class="msglocat">
                <div class="srchformBx">
                  <md-select ng-model="weapon" placeholder="- Select within Miles -" class="md-no-underline sechInp">
                    <md-option value="axe">10-20</md-option>
                    <md-option value="sword">20-30</md-option>
                    <md-option value="wand">30-40</md-option>
                  </md-select>
                </div>
                <div class="srchformBx">
                  <md-select ng-model="weapon" placeholder="- Select Location -" class="md-no-underline sechInp">
                    <md-option value="axe">India</md-option>
                    <md-option value="sword">Australia</md-option>
                    <md-option value="wand">Japan</md-option>
                    <md-option value="pen">USA</md-option>
                  </md-select>
                </div>
                <div class="srchsave">
                  <md-button class="md-raised md-primary logpopup-Btn">Search</md-button>
                </div>
              </div>
</md-tab-body>
      </md-tab>


<md-tab id="tab2" ng-disabled="data.secondLocked">
        <md-tab-label>Countries</md-tab-label>
        <md-tab-body>
              <div class="msglocat">
                <div class="srchformBx">
                  <md-select ng-model="weapon" placeholder="- Select state -" class="md-no-underline sechInp">
                    <md-option value="axe">Delhi</md-option>
                    <md-option value="sword">UP</md-option>
                    <md-option value="wand">Haryana</md-option>
                    <md-option value="pen">Mumbai</md-option>
                  </md-select>
                </div>
                <div class="srchformBx">
                  <md-select ng-model="weapon" placeholder="- Select City -" class="md-no-underline sechInp">
                    <md-option value="axe">Indraprasth</md-option>
                    <md-option value="sword">Jamia</md-option>
                    <md-option value="wand">Kanghat Palace</md-option>
                  </md-select>
                </div>
                <div class="srchsave">
                  <md-button class="md-raised md-primary logpopup-Btn">Search</md-button>
                </div>
              </div>
</md-tab-body>
      </md-tab>
<md-tab id="tab3">
        <md-tab-label>Members</md-tab-label>
        <md-tab-body>
              <div class="msglocat">
                <div class="srchformBx">
                  <md-select ng-model="weapon" placeholder="- Select Members -" class="md-no-underline sechInp">
                    <md-option value="axe">5</md-option>
                    <md-option value="sword">10</md-option>
                    <md-option value="wand">15</md-option>
                  </md-select>
                </div>
                <div class="srchformBx">
                  <input type="text" name="mobilenumber" class="sechInp" placeholder="Enter Your Mobile Number">
                </div>
                <div class="srchsave">
                  <md-button class="md-raised md-primary logpopup-Btn">Search</md-button>
                </div>
              </div>
  </md-tab-body>
      </md-tab>

</md-tabs>

                </div>
              </div>
            </div> 

        <div class="noteTxt">
        <span>Please Note:</span>
        <p>Since we are just beginning, you may not find anyone in your area on the first few times you come into our website.Please check back frequently as our database will quickly populate</p>
        </div>

      </div>
      </div>
  </div>
</section>